<h1>Context menu</h1>

@if (ctrlForm) {
  <section>
    <form [formGroup]="ctrlForm">
      <p>
        <mg-input>
          <mg-input-label>contextMenuMode</mg-input-label>
          <mg-input-radio formControlName="contextMenuMode" value="default">default (list)</mg-input-radio>
          <mg-input-radio formControlName="contextMenuMode" value="bubble">bubble</mg-input-radio>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>contextMenuDisabled</mg-input-label>
          <mg-input-radio formControlName="contextMenuDisabled" [value]="true">enabled</mg-input-radio>
          <mg-input-radio formControlName="contextMenuDisabled" [value]="false">enabled</mg-input-radio>
        </mg-input>
      </p>
    </form>
    <div
      [contextMenu]="contextMenu"
      [contextMenuMode]="ctrlForm.value.contextMenuMode"
      [contextMenuDisabled]="ctrlForm.value.contextMenuDisabled"
    >
      Right-click here to display the context menu.
    </div>
    <div>
      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      ></code-tabs>
    </div>
  </section>
}
