<h1>Message</h1>

<h1>Unique block</h1>
<div>
  <div class="s-3 s-12-l">
    <h3>Option</h3>
    <div>
      <mg-input class="s-12">
        <mg-input-select [data]="data" [(ngModel)]="type" (ngModelChange)="codeUpdate()" />
      </mg-input>
    </div>
  </div>
  <div class="s-6 s-12-l">
    <mg-message [type]="type">
      <h1>Test</h1>
      <p>Test</p>
    </mg-message>
  </div>
  <div class="s-3 s-12-l">
    <code-tabs [code]="[{ type: 'html', code: codeHtml }]"></code-tabs>
  </div>
</div>

<h1>Sub-block</h1>
<div>
  <div class="s-3 s-12-l"></div>
  <div class="s-6 s-12-l">
    <mg-message>
      <mg-message-block>
        <p>no type</p>
      </mg-message-block>
      <mg-message-block type="success">
        <p>success</p>
      </mg-message-block>
      <mg-message-block type="warn">
        <p>warn</p>
      </mg-message-block>
      <mg-message-block type="error">
        <p>error</p>
      </mg-message-block>
      <mg-message-block type="tip">
        <p>tip</p>
      </mg-message-block>
      <mg-message-block type="info">
        <p>info</p>
      </mg-message-block>
    </mg-message>
  </div>
  <div class="s-3 s-12-l">
    <code-tabs [code]="[{ type: 'html', code: codeHtmlSub }]"></code-tabs>
  </div>
</div>
