<h1>Tabs</h1>

<section>
  <div>
    <label for="text">Label</label>
    <input id="text" type="text" name="text" />
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: text }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div>
    <label for="password">Label</label>
    <input id="password" type="password" name="password" />
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: password }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div>
    <label for="radio1"><input id="radio1" type="radio" name="radio" />Label</label>
    <label for="radio2"><input id="radio2" type="radio" name="radio" />Label</label>
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: radio }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div>
    <label for="checkbox1"><input id="checkbox1" type="checkbox" name="checkbox" />Label</label>
    <label for="checkbox2"><input id="checkbox2" type="checkbox" name="checkbox" />Label</label>
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: checkbox }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div>
    <label for="file">Label</label>
    <input id="file" type="file" />
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: file }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div>
    <label for="textarea">Label</label>
    <textarea id="textarea" name="textarea"></textarea>
    <label for="textarea">Label</label>
    <textarea id="textarea" name="autosize"></textarea>
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: textarea }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div>
    <label for="select">Label</label>
    <select id="select" name="select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div>
    <code-tabs [code]="[{ type: 'html', code: select }]"></code-tabs>
  </div>
</section>
