<h1>Loader-block</h1>

@if (ctrlForm) {
  <section>
    <form class="s-3 s-6-l s-12-s" [formGroup]="ctrlForm">
      <mg-input class="s-8">
        <mg-input-label>Example</mg-input-label>
        <mg-input-select formControlName="example" [data]="examples" />
      </mg-input>
    </form>
    <div class="s-5 s-6-l s-12-s">
      <h2>Preview</h2>
      <div class="loader">
        @switch (ctrlForm.value.example) {
          @case ('example-1') {
            <mg-loader-block><mg-loader-tile /><mg-loader-tile /></mg-loader-block>
          }
          @case ('example-2') {
            <mg-loader-block>
              <mg-loader-tile size="70px / 70px" />
              <mg-loader-tile size="70px / 70px" />
              <mg-loader-tile size="flex / 70px" />
              <mg-loader-tile size="100% / 70px" />
            </mg-loader-block>
          }
        }
      </div>
    </div>
    <div class="s-4 s-12-l">
      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      ></code-tabs>
    </div>
  </section>
}
