<mg-tabs>
  @for (item of code(); track $index) {
    <mg-tab-title [id]="item.title ?? item.type">{{ item.title ?? item.type }}</mg-tab-title>
  }
  @for (item of code(); track $index) {
    <mg-tab-content [id]="item.title ?? item.type">
      @let code = item.code;
      @if (typeof code === 'string') {
        <button (click)="clipboard(code)">copy</button>
        <code dir="ltr"><pre [highlight]="$any(code)" [language]="item.type"></pre></code>
      } @else if (typeof code === 'object' && $any(code).code) {
        @if ($any(code).title) {
          <h3>{{ $any(code).title }}</h3>
        }
        <button (click)="clipboard($any(item).code)">copy</button>
        <code dir="ltr"><pre [highlight]="$any(item).code" [language]="item.type"></pre></code>
      } @else {
        @for (block of $any(code); track $index) {
          @if (typeof block === 'string') {
            <button (click)="clipboard(block)">copy</button>
            <code dir="ltr"><pre [highlight]="$any(block)" [language]="item.type"></pre></code>
          } @else if (typeof block === 'object') {
            @if ($any(block).title) {
              <h3>{{ $any(block).title }}</h3>
            }
            <button (click)="clipboard($any(block).code)">copy</button>
            <code dir="ltr"><pre [highlight]="$any(block).code" [language]="item.type"></pre></code>
          }
        }
      }
    </mg-tab-content>
  }
</mg-tabs>
