pre {
    padding: 5px;
}

pre,
pre ::ng-deep * {
    font-family: 'Courier New', Courier, monospace;
}

tab-title {
    text-transform: uppercase;
}
mg-tab-content {
    display: block;
    position: relative;
}

button {
    display: none;
    position: absolute;
    top: 5px;
    right: 0px;

    &:has(+ code:hover) {
        display: initial;
    }
}

.css-item {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 5px;

    code {
        padding: 2px 5px;
        white-space: nowrap;
    }
}
