section {
    display: flex;

    width: 100%;
    max-width: 100%;

    & > :is(div, form) {
        flex: 0 0 calc(100% / var(--col, 3));
        box-sizing: border-box;
        padding: 10px;
    }
}

strong {
    display: block;
}
