<h1>Context menu</h1>

@if (ctrlForm) {
  <section>
    <form [formGroup]="ctrlForm">
      <p>
        <mg-input>
          <mg-input-label>Color value</mg-input-label>
          <mg-input-text formControlName="color"></mg-input-text>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>Alpha</mg-input-label>
          <mg-input-radio formControlName="alpha" [value]="true">enabled</mg-input-radio>
          <mg-input-radio formControlName="alpha" [value]="false">enabled</mg-input-radio>
        </mg-input>
      </p>
    </form>
    <div>
      <h4>Component</h4>

      <color-picker
        [color]="ctrlForm.value.color"
        [alpha]="ctrlForm.value.alpha"
        (colorChange)="colorChange($event)"
        (colorChange)="colorChange($event)"
      ></color-picker>
    </div>
    <div>
      <code-tabs [code]="[{ type: 'html', code: codeHtml }]"></code-tabs>
    </div>
  </section>

  <hr />

  <section>
    <form [formGroup]="ctrlFormPopup">
      <p>
        <mg-input>
          <mg-input-label>colorPicker</mg-input-label>
          <mg-input-text formControlName="color"></mg-input-text>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>Alpha</mg-input-label>
          <mg-input-radio formControlName="alpha" [value]="true">enabled</mg-input-radio>
          <mg-input-radio formControlName="alpha" [value]="false">enabled</mg-input-radio>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>Disabled</mg-input-label>
          <mg-input-radio formControlName="disabled" [value]="false">no</mg-input-radio>
          <mg-input-radio formControlName="disabled" [value]="true">yes</mg-input-radio>
        </mg-input>
      </p>
    </form>
    <div>
      <h4>Directive</h4>
      <div>
        <div>
          colorChange : <code>{{ colorChangeValue }}</code>
        </div>
        <div>
          colorClose : <code>{{ colorCloseValue }}</code>
        </div>
        <div
          [colorPicker]="ctrlFormPopup.value.color"
          [colorPickerAlpha]="ctrlFormPopup.value.alpha"
          [colorPickerDisabled]="ctrlFormPopup.value.disabled"
          (colorChange)="colorChange($event)"
          (colorClose)="colorClose($event)"
        >
          Click me
        </div>
      </div>
    </div>
    <div>
      <code-tabs [code]="[{ type: 'html', code: codeHtmlPopup }]"></code-tabs>
    </div>
  </section>
}
