<h1>Spinner</h1>

@if (ctrlForm) {
  <section>
    <form class="s-3 s-6-l s-12-s" [formGroup]="ctrlForm">
      <h2 class="s-12">Options</h2>
      <mg-input class="s-8">
        <mg-input-label>size</mg-input-label>
        <mg-input-number formControlName="size" min="2" noDecimal noNegative />
        <mg-input-suffix>px</mg-input-suffix>
        <mg-input-desc>default.: <code>80</code></mg-input-desc>
      </mg-input>
      <mg-input class="s-8">
        <mg-input-label>tickWidth</mg-input-label>
        <mg-input-number formControlName="tickWidth" min="1" noDecimal noNegative />
        <mg-input-suffix>px</mg-input-suffix>
        <mg-input-desc>default.: <code>6</code></mg-input-desc>
      </mg-input>
      <mg-input class="s-8">
        <mg-input-label>radius</mg-input-label>
        <mg-input-number formControlName="radius" min="0" noDecimal noNegative />
        <mg-input-suffix>px</mg-input-suffix>
        <mg-input-desc>default.: <code>0</code></mg-input-desc>
      </mg-input>
    </form>
    <div class="s-4 s-6-l s-12-s">
      <h2>Preview</h2>
      <mg-spinner
        [size]="ctrlForm.value.size"
        [tickWidth]="ctrlForm.value.tickWidth"
        [radius]="ctrlForm.value.radius"
      />
    </div>
    <div class="s-5 s-12-l">
      <code-tabs [code]="[{ type: 'html', code: codeHtml }]"></code-tabs>
    </div>
  </section>
}
