<h1>Walkthrough</h1>

<mg-tabs>
  <mg-tab-title id="generator">Generator </mg-tab-title>
  <mg-tab-content id="generator">
    <div class="s-6 s-12-l">
      <p>Example with 3 steps. One or more steps are possible.</p>

      <!-- step 1 -->

      <h2>step 1</h2>
      <div [formGroup]="ctrlForm">
        <mg-input class="s-4">
          <mg-input-label>Selector</mg-input-label>
          <mg-input-text formControlName="selector"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Group</mg-input-label>
          <mg-input-text formControlName="group"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Name</mg-input-label>
          <mg-input-text formControlName="name" readonly></mg-input-text>
          <mg-input-desc>The first step should be called "first"</mg-input-desc>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Previous step target</mg-input-label>
          <mg-input-text formControlName="previousStep"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Next step target</mg-input-label>
          <mg-input-text formControlName="nextStep"></mg-input-text>
        </mg-input>
        <div class="s-12">
          <mg-input class="s-4">
            <mg-input-label>Previous step button name</mg-input-label>
            <mg-input-text formControlName="previousButtonName"></mg-input-text>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-label>Next step button name</mg-input-label>
            <mg-input-text formControlName="nextButtonName"></mg-input-text>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-label>Close button name</mg-input-label>
            <mg-input-text formControlName="closeButtonName"></mg-input-text>
          </mg-input>
        </div>
        <div class="s-6">
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="showElement">showElement</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="close">close button</mg-input-checkbox>
          </mg-input>
        </div>
        <div class="s-6">
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="clickElementActive">clickElementActive</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="clickElementOrigin">clickElementOrigin</mg-input-checkbox>
          </mg-input>
        </div>
        <mg-input class="s-4">
          <mg-input-label>Backdrop action</mg-input-label>
          <mg-input-select
            formControlName="backdropAction"
            [data]="backdropActionData"
            nativeKeyboard
          ></mg-input-select>
        </mg-input>
        <div class="s-12">
          <div class="s-12"><strong>Actions</strong></div>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickNext">clickNext</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickPrevious">clickPrevious</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickClose">clickClose</mg-input-checkbox>
          </mg-input>
        </div>
      </div>

      <!-- step 2 -->

      <h2>step 2</h2>
      <div [formGroup]="ctrlForm2">
        <mg-input class="s-4">
          <mg-input-label>Selector</mg-input-label>
          <mg-input-text formControlName="selector"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Group</mg-input-label>
          <mg-input-text formControlName="group"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Name</mg-input-label>
          <mg-input-text formControlName="name"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Previous step target</mg-input-label>
          <mg-input-text formControlName="previousStep"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Next step target</mg-input-label>
          <mg-input-text formControlName="nextStep"></mg-input-text>
        </mg-input>
        <div class="s-12">
          <mg-input class="s-4">
            <mg-input-label>Previous step button name</mg-input-label>
            <mg-input-text formControlName="previousButtonName"></mg-input-text>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-label>Next step button name</mg-input-label>
            <mg-input-text formControlName="nextButtonName"></mg-input-text>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-label>Close button name</mg-input-label>
            <mg-input-text formControlName="closeButtonName"></mg-input-text>
          </mg-input>
        </div>
        <div class="s-6">
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="showElement">showElement</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="close">close button</mg-input-checkbox>
          </mg-input>
        </div>
        <div class="s-6">
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="clickElementActive">clickElementActive</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="clickElementOrigin">clickElementOrigin</mg-input-checkbox>
          </mg-input>
        </div>
        <mg-input class="s-4">
          <mg-input-label>Backdrop action</mg-input-label>
          <mg-input-select
            formControlName="backdropAction"
            [data]="backdropActionData"
            nativeKeyboard
          ></mg-input-select>
        </mg-input>
        <div class="s-12">
          <div class="s-12"><strong>Actions</strong></div>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickNext">clickNext</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickPrevious">clickPrevious</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickClose">clickClose</mg-input-checkbox>
          </mg-input>
        </div>
      </div>

      <!-- step "" -->

      <h2>step 3</h2>
      <div [formGroup]="ctrlForm3">
        <mg-input class="s-4">
          <mg-input-label>Selector</mg-input-label>
          <mg-input-text formControlName="selector"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Group</mg-input-label>
          <mg-input-text formControlName="group"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Name</mg-input-label>
          <mg-input-text formControlName="name"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Previous step target</mg-input-label>
          <mg-input-text formControlName="previousStep"></mg-input-text>
        </mg-input>
        <mg-input class="s-4">
          <mg-input-label>Next step target</mg-input-label>
          <mg-input-text formControlName="nextStep"></mg-input-text>
        </mg-input>
        <div class="s-12">
          <mg-input class="s-4">
            <mg-input-label>Previous step button name</mg-input-label>
            <mg-input-text formControlName="previousButtonName"></mg-input-text>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-label>Next step button name</mg-input-label>
            <mg-input-text formControlName="nextButtonName"></mg-input-text>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-label>Close button name</mg-input-label>
            <mg-input-text formControlName="closeButtonName"></mg-input-text>
          </mg-input>
        </div>
        <div class="s-6">
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="showElement">showElement</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="close">close button</mg-input-checkbox>
          </mg-input>
        </div>
        <div class="s-6">
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="clickElementActive">clickElementActive</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-12">
            <mg-input-checkbox formControlName="clickElementOrigin">clickElementOrigin</mg-input-checkbox>
          </mg-input>
        </div>
        <mg-input class="s-4">
          <mg-input-label>Backdrop action</mg-input-label>
          <mg-input-select
            formControlName="backdropAction"
            [data]="backdropActionData"
            nativeKeyboard
          ></mg-input-select>
        </mg-input>
        <div class="s-12">
          <div class="s-12"><strong>Actions</strong></div>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickNext">clickNext</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickPrevious">clickPrevious</mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4">
            <mg-input-checkbox formControlName="clickClose">clickClose</mg-input-checkbox>
          </mg-input>
        </div>
      </div>
    </div>
    <div class="s-6 s-12-l">
      <h3>Test</h3>

      <div>
        <p class="s-6">
          <button (click)="walkExample.start({ group: ctrlForm.value.group })">Start</button>
        </p>

        <p class="s-6">
          <button (click)="alert('test A')" id="btn-a">Test 1</button>
          <button (click)="alert('test B')" id="btn-b">Test 2</button>
          <button (click)="alert('test C')" id="btn-c">Test 3</button>
        </p>
      </div>

      <h3>Code</h3>

      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      />

      <mg-walkthrough #walkExample="walkthrough">
        <ng-template
          mg-walkthrough-step
          [selector]="ctrlForm.value.selector || '#btn-a'"
          [group]="ctrlForm.value.group"
          [name]="ctrlForm.value.name || 'first'"
          [nextStep]="ctrlForm.value.nextStep"
          [nextButtonName]="ctrlForm.value.nextButtonName || 'Next'"
          [previousStep]="ctrlForm.value.previousStep"
          [previousButtonName]="ctrlForm.value.previousButtonName || 'Previous'"
          [close]="ctrlForm.value.close"
          [closeButtonName]="ctrlForm.value.closeButtonName || 'Close'"
          [showElement]="ctrlForm.value.showElement"
          [clickElementActive]="ctrlForm.value.clickElementActive"
          (clickElement)="alert('Click'); walkExample.close()"
          [clickElementOrigin]="ctrlForm.value.clickElementOrigin"
          [backdropAction]="ctrlForm.value.backdropAction"
        >
          <p>TEST 1</p>
        </ng-template>
        <ng-template
          mg-walkthrough-step
          [selector]="ctrlForm2.value.selector || '#btn-b'"
          [group]="ctrlForm2.value.group"
          [name]="ctrlForm2.value.name || 'second'"
          [nextStep]="ctrlForm2.value.nextStep"
          [nextButtonName]="ctrlForm2.value.nextButtonName || 'Next'"
          [previousStep]="ctrlForm2.value.previousStep"
          [previousButtonName]="ctrlForm2.value.previousButtonName || 'Previous'"
          [close]="ctrlForm2.value.close"
          [closeButtonName]="ctrlForm2.value.closeButtonName || 'Close'"
          [showElement]="ctrlForm2.value.showElement"
          [clickElementActive]="ctrlForm2.value.clickElementActive"
          (clickElement)="alert('Click'); walkExample.close()"
          [clickElementOrigin]="ctrlForm2.value.clickElementOrigin"
          [backdropAction]="ctrlForm2.value.backdropAction"
        >
          <p>TEST 2</p>
        </ng-template>
        <ng-template
          mg-walkthrough-step
          [selector]="ctrlForm3.value.selector || '#btn-c'"
          [group]="ctrlForm3.value.group"
          [name]="ctrlForm3.value.name || 'end'"
          [nextStep]="ctrlForm3.value.nextStep"
          [nextButtonName]="ctrlForm3.value.nextButtonName || 'Next'"
          [previousStep]="ctrlForm3.value.previousStep"
          [previousButtonName]="ctrlForm3.value.previousButtonName || 'Previous'"
          [close]="ctrlForm3.value.close"
          [closeButtonName]="ctrlForm3.value.closeButtonName || 'Close'"
          [showElement]="ctrlForm3.value.showElement"
          [clickElementActive]="ctrlForm3.value.clickElementActive"
          (clickElement)="alert('Click'); walkExample.close()"
          [clickElementOrigin]="ctrlForm3.value.clickElementOrigin"
          [backdropAction]="ctrlForm3.value.backdropAction"
        >
          <p>TEST 3</p>
        </ng-template>
      </mg-walkthrough>
    </div>
  </mg-tab-content>
  <mg-tab-title id="example">Example </mg-tab-title>
  <mg-tab-content id="example">
    <p class="button-list">
      <button id="btn-1" (click)="alert('1')"><span>1</span></button>
      <button id="btn-2" (click)="alert('2')"><span>2</span></button>
      <button id="btn-3" (click)="alert('3')"><span>3</span></button>
      <button id="btn-4" (click)="alert('4')"><span>4</span></button>
    </p>

    <p>
      <button (click)="walk.start()">start</button>
    </p>

    <mg-walkthrough #walk="walkthrough">
      <ng-template mg-walkthrough-step selector="#btn-1" name="first" nextStep="second" showElement>
        <p>TEST 1</p>
      </ng-template>
      <ng-template mg-walkthrough-step selector="#btn-2" name="second" previousStep="first" nextStep="third">
        <p>TEST 2 ?</p>
      </ng-template>
      <ng-template
        mg-walkthrough-step
        selector="#btn-3"
        name="third"
        previousStep="second"
        nextStep="fourth"
        showElement
        clickElementOrigin
      >
        <p>↑ click / TEST 3</p>
      </ng-template>
      <ng-template
        mg-walkthrough-step
        selector="#btn-4"
        name="fourth"
        previousStep="third"
        showElement
        clickElementActive
        (clickElement)="alert('4'); walk.close()"
        close
      >
        <p>↑ click / TEST 4</p>
      </ng-template>
    </mg-walkthrough>

    <mg-block id="block">
      <p>Block test</p>
      <div class="align">
        <button id="button">TEST</button>
      </div>
    </mg-block>

    <p>
      <button (click)="walk2.start({ group: 'a' })">start A</button>
      <button (click)="walk2.start({ group: 'b' })">start B</button>
    </p>

    <mg-walkthrough #walk2="walkthrough">
      <ng-template
        mg-walkthrough-step
        selector="#block"
        group="a"
        name="first"
        nextStep="second"
        showElement
        clickElementOrigin
      >
        <p>↑ click / TEST 3</p>
      </ng-template>
      <ng-template
        mg-walkthrough-step
        selector="#button"
        group="a"
        name="second"
        close
        showElement
        clickElementActive
        (clickElement)="alert('4'); walk2.close()"
      >
        <p>↑ click / TEST 4</p>
      </ng-template>
      <ng-template
        mg-walkthrough-step
        selector="#block-2"
        group="b"
        name="first"
        nextStep="second"
        showElement
        clickElementOrigin
        (start)="tabs.update('example1')"
        (clickNext)="tabs.update('example2')"
      >
        <p>↑ click / TEST 3</p>
      </ng-template>

      <ng-template
        mg-walkthrough-step
        selector="#button-2"
        group="b"
        name="second"
        previousStep="first"
        close
        showElement
        clickElementActive
        (clickPrevious)="tabs.update('example1')"
        (clickElement)="walk2.close()"
        close
      >
        <p>↑ click / TEST 4</p>
      </ng-template>
    </mg-walkthrough>

    <mg-block id="block-2">
      <mg-tabs #tabs>
        <mg-tab-title id="example1"> example1 </mg-tab-title>
        <mg-tab-content id="example1">
          <button id="button-1">TEST</button>
        </mg-tab-content>
        <mg-tab-title id="example2"> example2 </mg-tab-title>
        <mg-tab-content id="example2">
          <p>
            Block test<br /><br /><br /><br /><br />Block test<br /><br /><br /><br /><br />Block test<br /><br /><br /><br /><br />Block
            test<br /><br /><br /><br /><br />Block test<br /><br /><br /><br /><br />Block test<br /><br /><br /><br /><br />Block
            test
          </p>
          <div class="align">
            <button id="button-2">TEST</button>
          </div>
        </mg-tab-content>
      </mg-tabs>
    </mg-block>
  </mg-tab-content>
</mg-tabs>
