<h1>Input validation</h1>

<section>
  <div class="s-5">
    <h2>Text / Textarea</h2>
    <mg-input [formGroup]="formText">
      <mg-input-text formControlName="test"></mg-input-text>
    </mg-input>
  </div>
  <div class="s-7">
    <code-tabs
      [code]="[
        { type: 'ts', code: codeTsText },
        { type: 'html', code: codeHtmlText },
      ]"
    ></code-tabs>
  </div>
</section>

<section [formGroup]="formList">
  <div class="s-5">
    <h2>Radio / Checkbox / Select</h2>
    <div>
      <mg-input>
        <mg-input-label>Label</mg-input-label>
        <mg-input-radio formControlName="oneValue" value="red">red</mg-input-radio>
        <mg-input-radio formControlName="oneValue" value="blue" checked>blue</mg-input-radio>
      </mg-input>
    </div>
    <div>
      <mg-input>
        <mg-input-label>Label</mg-input-label>
        <mg-input-checkbox formControlName="listValue" value="red">red</mg-input-checkbox>
        <mg-input-checkbox formControlName="listValue" value="blue" checked>blue</mg-input-checkbox>
        <mg-input-checkbox formControlName="listValue" value="yellow" checked>yellow</mg-input-checkbox>
        <mg-input-checkbox formControlName="listValue" value="orange" checked>orange</mg-input-checkbox>
      </mg-input>
    </div>
    <div>
      <mg-input>
        <mg-input-label>Toggle</mg-input-label>
        <mg-input-checkbox formControlName="boolean" value="red" mode="toggle">red</mg-input-checkbox>
      </mg-input>
    </div>
    <div>
      <mg-input>
        <mg-input-label>Select</mg-input-label>
        <mg-input-select formControlName="select" [data]="data"></mg-input-select>
      </mg-input>
    </div>
  </div>
  <div class="s-7">
    <code-tabs
      [code]="[
        { type: 'ts', code: codeTsList },
        { type: 'html', code: codeHtmlList },
      ]"
    ></code-tabs>
  </div>
</section>

<section>
  <div class="s-5">
    <h2>Number</h2>
    <mg-input [formGroup]="formNumber">
      <mg-input-number formControlName="test"></mg-input-number>
    </mg-input>
  </div>
  <div class="s-7">
    <code-tabs
      [code]="[
        { type: 'ts', code: codeTsNumber },
        { type: 'html', code: codeHtmlNumber },
      ]"
    ></code-tabs>
  </div>
</section>
