<h1>Input code generator</h1>

<section>
  <!-- Text -->
  <div class="s-6 s-12-m">
    <h2>Options</h2>
    <div [formGroup]="formGenerator">
      <div>
        <mg-input class="s-4 s-6-m">
          <mg-input-label>Label</mg-input-label>
          <mg-input-text formControlName="label" />
        </mg-input>
        <mg-input class="s-4 s-6-m">
          <mg-input-label>Desc</mg-input-label>
          <mg-input-text formControlName="desc" />
        </mg-input>
        <mg-input class="s-4 s-6-m">
          <mg-input-label>Error</mg-input-label>
          <mg-input-text formControlName="error" />
        </mg-input>
      </div>
      <div>
        <mg-input class="s-3 s-6-m">
          <mg-input-label>Before</mg-input-label>
          <mg-input-text formControlName="before" />
        </mg-input>
        <mg-input class="s-3 s-6-m">
          <mg-input-label>Prefix</mg-input-label>
          <mg-input-text formControlName="prefix" />
        </mg-input>
        <mg-input class="s-3 s-6-m">
          <mg-input-label>Suffix</mg-input-label>
          <mg-input-text formControlName="suffix" />
        </mg-input>
        <mg-input class="s-3 s-6-m">
          <mg-input-label>After</mg-input-label>
          <mg-input-text formControlName="after" />
        </mg-input>
      </div>
      <div>
        <mg-input class="s-12">
          <mg-input-label>Input type</mg-input-label>
          <mg-input-radio formControlName="type" value="text">text</mg-input-radio>
          <mg-input-radio formControlName="type" value="textarea">textarea</mg-input-radio>
          <mg-input-radio formControlName="type" value="password">password</mg-input-radio>
          <mg-input-radio formControlName="type" value="number">number</mg-input-radio>
          <mg-input-radio formControlName="type" value="range">range</mg-input-radio>
          <mg-input-radio formControlName="type" value="checkbox">checkbox</mg-input-radio>
          <mg-input-radio formControlName="type" value="radio">radio</mg-input-radio>
          <mg-input-radio formControlName="type" value="select">select</mg-input-radio>
          <mg-input-radio formControlName="type" value="color">color</mg-input-radio>
          <mg-input-radio formControlName="type" value="date">date <sup class="new">new</sup></mg-input-radio>
        </mg-input>
        <mg-input class="s-12">
          <mg-input-label>Type of access value</mg-input-label>
          <mg-input-radio formControlName="access" value="none">none</mg-input-radio>
          <mg-input-radio formControlName="access" value="value">value</mg-input-radio>
          <mg-input-radio formControlName="access" value="ngModel">ngModel</mg-input-radio>
          <mg-input-radio formControlName="access" value="formControlName">formControlName</mg-input-radio>
        </mg-input>
      </div>

      <h3>Input detail</h3>
      <div>
        <mg-input class="s-3 s-6-m">
          <mg-input-label>Disabled</mg-input-label>
          <mg-input-checkbox formControlName="disabled" mode="toggle"></mg-input-checkbox>
        </mg-input>
        <mg-input class="s-3 s-6-m">
          <mg-input-label>Readonly</mg-input-label>
          <mg-input-checkbox formControlName="readonly" mode="toggle"></mg-input-checkbox>
        </mg-input>
        @if (
          formGenerator.value.type === 'number' ||
          formGenerator.value.type === 'textarea' ||
          formGenerator.value.type === 'text' ||
          formGenerator.value.type === 'password' ||
          formGenerator.value.type === 'select'
        ) {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Placeholder</mg-input-label>
            <mg-input-text formControlName="placeholder" />
          </mg-input>
          @if (formGenerator.value.placeholder) {
            <mg-input class="s-3 s-6-m">
              <mg-input-label>placeholderAnimated</mg-input-label>
              <mg-input-text formControlName="placeholderAnimated" />
              <mg-input-desc
                >Example: <code>30 3 1500 |</code> for
                <ul>
                  <li>30ms by character,</li>
                  <li>repeat 3 times (default <code>1</code> no repeat),</li>
                  <li>intervale of 1500ms (default is character time),</li>
                  <li><code>|</code> separator character for multi sentences (default <code>|</code>).</li>
                </ul>
              </mg-input-desc>
            </mg-input>
          }
        }
        @if (formGenerator.value.type === 'number' || formGenerator.value.type === 'range') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Step</mg-input-label>
            <mg-input-number formControlName="step" />
            <mg-input-desc>Step for <kbd>↑</kbd>, <kbd>↓</kbd> and arrows</mg-input-desc>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Min</mg-input-label>
            <mg-input-number formControlName="min" />
            <mg-input-desc>Step min value</mg-input-desc>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Max</mg-input-label>
            <mg-input-number formControlName="max" />
            <mg-input-desc>Step max value</mg-input-desc>
          </mg-input>
        }
        @if (formGenerator.value.type === 'number') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>ForceMinMax</mg-input-label>
            <mg-input-checkbox formControlName="forceMinMax" mode="toggle"></mg-input-checkbox>
            <mg-input-desc>Force min-max value on type</mg-input-desc>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Formater</mg-input-label>
            <mg-input-text formControlName="formater" />
            <mg-input-desc>Example: <code>#,##0.00</code> or <code>#,##0</code></mg-input-desc>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>ShowArrows</mg-input-label>
            <mg-input-checkbox formControlName="showArrows" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>noDecimal</mg-input-label>
            <mg-input-checkbox formControlName="noDecimal" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>noNegative</mg-input-label>
            <mg-input-checkbox formControlName="noNegative" mode="toggle"></mg-input-checkbox>
          </mg-input>
        }
        @if (formGenerator.value.type === 'color') {
          <mg-input class="s-4 s-6-m">
            <mg-input-label>Show alpha</mg-input-label>
            <mg-input-checkbox formControlName="alpha" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>Show clear button</mg-input-label>
            <mg-input-checkbox formControlName="clearButton" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>Palette</mg-input-label>
            <mg-input-checkbox formControlName="palette" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>Texts</mg-input-label>
            <mg-input-checkbox formControlName="texts" mode="toggle"></mg-input-checkbox>
          </mg-input>
        }
        @if (formGenerator.value.type === 'textarea' || formGenerator.value.type === 'text') {
          <mg-input class="s-4 s-6-m">
            <mg-input-label>maxlength</mg-input-label>
            <mg-input-number formControlName="maxLength" />
          </mg-input>
        }
        @if (formGenerator.value.type === 'textarea') {
          @if (formGenerator.value.maxLength) {
            <mg-input class="s-4 s-6-m">
              <mg-input-label>displayLimit</mg-input-label>
              <mg-input-number formControlName="displayLimit" />
            </mg-input>
          }
          <mg-input class="s-4 s-6-m">
            <mg-input-label>autosize</mg-input-label>
            <mg-input-checkbox formControlName="autosize" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>monospace</mg-input-label>
            <mg-input-checkbox formControlName="monospace" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <div class="break"></div>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>default height</mg-input-label>
            <mg-input-text formControlName="height" />
            <mg-input-desc>Example: <code>10px</code> or <code>1.5em</code></mg-input-desc>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>minHeight</mg-input-label>
            <mg-input-text formControlName="minHeight"></mg-input-text
            ><mg-input-desc>Example: <code>10px</code> or <code>1.5em</code></mg-input-desc>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>maxHeight</mg-input-label>
            <mg-input-text formControlName="maxHeight"></mg-input-text
            ><mg-input-desc>Example: <code>10px</code> or <code>1.5em</code></mg-input-desc>
          </mg-input>
          <mg-input class="s-4 s-6-m">
            <mg-input-label>textarea-desc</mg-input-label>
            <mg-input-text formControlName="textareaDesc" />
          </mg-input>
        }
        @if (formGenerator.value.type === 'text') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>clearCross</mg-input-label>
            <mg-input-checkbox formControlName="clearCross" mode="toggle"></mg-input-checkbox>
          </mg-input>
        }
        @if (formGenerator.value.type === 'password') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>eye</mg-input-label>
            <mg-input-checkbox formControlName="eye" mode="toggle"></mg-input-checkbox>
          </mg-input>
        }

        @if (
          formGenerator.value.type === 'number' ||
          formGenerator.value.type === 'text' ||
          formGenerator.value.type === 'color' ||
          formGenerator.value.type === 'range'
        ) {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Datalist</mg-input-label>
            <mg-input-checkbox formControlName="datalist" mode="toggle"></mg-input-checkbox>
          </mg-input>
        }
        @if (formGenerator.value.type === 'checkbox') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Multiple</mg-input-label>
            <mg-input-checkbox formControlName="multiple" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Mode toggle</mg-input-label>
            <mg-input-checkbox formControlName="toggle" mode="toggle"></mg-input-checkbox>
          </mg-input>
          @if (!formGenerator.value.multiple) {
            <mg-input class="s-3 s-6-m">
              <mg-input-label>Force array value</mg-input-label>
              <mg-input-checkbox formControlName="arrayValue" mode="toggle"></mg-input-checkbox>
            </mg-input>
          }
        }
        @if (formGenerator.value.type === 'checkbox' || formGenerator.value.type === 'radio') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>alignMode</mg-input-label>
            <mg-input-select formControlName="alignMode" [data]="alignMode" />
          </mg-input>

          <div class="s-12">
            <mg-input class="s-4 s-6-m">
              <mg-input-label>Input label</mg-input-label>
              <mg-input-text formControlName="subLabel1" />
            </mg-input>
            <mg-input class="s-4 s-6-m">
              <mg-input-label>Input value</mg-input-label>
              <mg-input-text formControlName="subValue1" />
            </mg-input>

            @if (formGenerator.value.type === 'radio' || formGenerator.value.multiple) {
              <div class="break"></div>
              <mg-input class="s-4 s-6-m">
                <mg-input-label>Input label</mg-input-label>
                <mg-input-text formControlName="subLabel2" />
              </mg-input>
              <mg-input class="s-4 s-6-m">
                <mg-input-label>Input value</mg-input-label>
                <mg-input-text formControlName="subValue2" />
              </mg-input>
              <div class="break"></div>
              <mg-input class="s-4 s-6-m">
                <mg-input-label>Input label</mg-input-label>
                <mg-input-text formControlName="subLabel3" />
              </mg-input>
              <mg-input class="s-4 s-6-m">
                <mg-input-label>Input value</mg-input-label>
                <mg-input-text formControlName="subValue3" />
              </mg-input>
            }
          </div>
        }

        @if (formGenerator.value.type === 'select') {
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Multiple</mg-input-label>
            <mg-input-checkbox formControlName="multiple" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <mg-input class="s-3 s-6-m">
            <mg-input-label>Overlay</mg-input-label>
            <mg-input-checkbox formControlName="overlay" mode="toggle"></mg-input-checkbox>
          </mg-input>
          <div class="s-12">
            This component extends
            <a href="https://harvest-dev.github.io/ng-select2/dist/ng-select2/browser/#/" target="_blank"
              ><code>ng-select2-component</code></a
            >. All parameters are possibles.
          </div>
        }
      </div>
    </div>
  </div>
  <div class="s-6 s-12-m">
    <h2>Rendu</h2>
    <div>
      <mg-input class="s-12" [arrayValue]="formGenerator.value.arrayValue" [alignMode]="formGenerator.value.alignMode!">
        @if (formGenerator.value.label) {
          <mg-input-label>{{ formGenerator.value.label }}</mg-input-label>
        }
        @if (formGenerator.value.before) {
          <mg-input-before>{{ formGenerator.value.before }}</mg-input-before>
        }
        @if (formGenerator.value.prefix) {
          <mg-input-prefix>{{ formGenerator.value.prefix }}</mg-input-prefix>
        }
        @switch (formGenerator.value.type) {
          @case ('text') {
            <mg-input-text
              [(ngModel)]="valueText"
              (ngModelChange)="codeGeneration()"
              [maxlength]="formGenerator.value.maxLength ?? null"
              [clearCross]="formGenerator.value.clearCross"
              [placeholder]="formGenerator.value.placeholder"
              [placeholderAnimated]="formGenerator.value.placeholderAnimated"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [datalist]="formGenerator.value.datalist ? datalistText : undefined"
            />
          }
          @case ('textarea') {
            <mg-input-textarea
              [(ngModel)]="valueTextarea"
              (ngModelChange)="codeGeneration()"
              [autosize]="formGenerator.value.autosize"
              [monospace]="formGenerator.value.monospace"
              [maxlength]="formGenerator.value.maxLength ?? null"
              [displayLimit]="formGenerator.value.displayLimit ?? null"
              [height]="formGenerator.value.height"
              [maxHeight]="formGenerator.value.maxHeight"
              [minHeight]="formGenerator.value.minHeight"
              [placeholder]="formGenerator.value.placeholder"
              [placeholderAnimated]="formGenerator.value.placeholderAnimated"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
            >
              @if (formGenerator.value.textareaDesc) {
                <mg-input-textarea-desc>{{ formGenerator.value.textareaDesc }}</mg-input-textarea-desc>
              }
            </mg-input-textarea>
          }
          @case ('date') {
            <mg-input-date
              [(ngModel)]="valueDate"
              (ngModelChange)="codeGeneration()"
              [maxlength]="formGenerator.value.maxLength ?? null"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
            />
          }
          @case ('password') {
            <mg-input-password
              [(ngModel)]="valuePassword"
              (ngModelChange)="codeGeneration()"
              [eye]="formGenerator.value.eye ?? null"
              [placeholder]="formGenerator.value.placeholder"
              [placeholderAnimated]="formGenerator.value.placeholderAnimated"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
            />
          }
          @case ('number') {
            <mg-input-number
              [step]="formGenerator.value.step"
              [min]="formGenerator.value.min"
              [max]="formGenerator.value.max"
              [forceMinMax]="formGenerator.value.forceMinMax"
              [formater]="formGenerator.value.formater"
              [showArrows]="formGenerator.value.showArrows"
              [placeholder]="formGenerator.value.placeholder"
              [placeholderAnimated]="formGenerator.value.placeholderAnimated"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [noDecimal]="formGenerator.value.noDecimal"
              [noNegative]="formGenerator.value.noNegative"
              [datalist]="formGenerator.value.datalist ? datalistNumber : undefined"
              [(ngModel)]="valueNumber"
              (ngModelChange)="codeGeneration()"
            />
          }
          @case ('range') {
            <mg-input-range
              [step]="formGenerator.value.step"
              [min]="formGenerator.value.min"
              [max]="formGenerator.value.max"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [datalist]="formGenerator.value.datalist ? datalistRange : undefined"
              [(ngModel)]="valueRange"
              (ngModelChange)="codeGeneration()"
            ></mg-input-range>
          }
          @case ('checkbox') {
            <mg-input-checkbox
              [value]="formGenerator.value.subValue1"
              [mode]="formGenerator.value.toggle ? 'toggle' : 'checkbox'"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [(ngModel)]="valueCheckbox"
              (ngModelChange)="codeGeneration()"
              >{{ formGenerator.value.subLabel1 }}</mg-input-checkbox
            >
          }
          @case ('radio') {
            <mg-input-radio
              [value]="formGenerator.value.subValue1"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [(ngModel)]="valueRadio"
              (ngModelChange)="codeGeneration()"
              >{{ formGenerator.value.subLabel1 }}</mg-input-radio
            >
          }
          @case ('select') {
            <mg-input-select
              [data]="exampleData"
              [placeholder]="formGenerator.value.placeholder"
              [placeholderAnimated]="formGenerator.value.placeholderAnimated"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [multiple]="formGenerator.value.multiple"
              [overlay]="formGenerator.value.overlay"
              [(ngModel)]="valueSelect"
              (ngModelChange)="codeGeneration()"
            />
          }
          @case ('color') {
            <mg-input-color
              [alpha]="formGenerator.value.alpha"
              [clearButton]="formGenerator.value.clearButton"
              [palette]="formGenerator.value.palette ? palette : undefined"
              [texts]="formGenerator.value.texts ? texts : undefined"
              [readonly]="formGenerator.value.readonly"
              [disabled]="formGenerator.value.disabled ?? false"
              [datalist]="formGenerator.value.datalist ? datalistColor : undefined"
              [(ngModel)]="valueColor"
              (ngModelChange)="codeGeneration()"
            />
          }
        }
        @if (formGenerator.value.multiple && formGenerator.value.type === 'checkbox') {
          <mg-input-checkbox
            [value]="formGenerator.value.subValue2"
            [mode]="formGenerator.value.toggle ? 'toggle' : 'checkbox'"
            [readonly]="formGenerator.value.readonly"
            [disabled]="formGenerator.value.disabled ?? false"
            [(ngModel)]="valueCheckbox"
            (ngModelChange)="codeGeneration()"
            >{{ formGenerator.value.subLabel2 }}</mg-input-checkbox
          >
        }
        @if (formGenerator.value.multiple && formGenerator.value.type === 'checkbox') {
          <mg-input-checkbox
            [value]="formGenerator.value.subValue3"
            [mode]="formGenerator.value.toggle ? 'toggle' : 'checkbox'"
            [readonly]="formGenerator.value.readonly"
            [disabled]="formGenerator.value.disabled ?? false"
            [(ngModel)]="valueCheckbox"
            (ngModelChange)="codeGeneration()"
            >{{ formGenerator.value.subLabel3 }}</mg-input-checkbox
          >
        }
        @if (formGenerator.value.type === 'radio') {
          <mg-input-radio
            [value]="formGenerator.value.subValue2"
            [readonly]="formGenerator.value.readonly"
            [disabled]="formGenerator.value.disabled ?? false"
            [(ngModel)]="valueRadio"
            (ngModelChange)="codeGeneration()"
            >{{ formGenerator.value.subLabel2 }}</mg-input-radio
          >
        }
        @if (formGenerator.value.type === 'radio') {
          <mg-input-radio
            [value]="formGenerator.value.subValue3"
            [readonly]="formGenerator.value.readonly"
            [disabled]="formGenerator.value.disabled ?? false"
            [(ngModel)]="valueRadio"
            (ngModelChange)="codeGeneration()"
            >{{ formGenerator.value.subLabel3 }}</mg-input-radio
          >
        }

        @if (formGenerator.value.suffix) {
          <mg-input-suffix>{{ formGenerator.value.suffix }}</mg-input-suffix>
        }
        @if (formGenerator.value.after) {
          <mg-input-after>{{ formGenerator.value.after }}</mg-input-after>
        }
        @if (formGenerator.value.desc) {
          <mg-input-desc>{{ formGenerator.value.desc }}</mg-input-desc>
        }
        @if (formGenerator.value.error) {
          <mg-input-error>{{ formGenerator.value.error }}</mg-input-error>
        }
      </mg-input>
    </div>

    <p>
      Value:
      <code>
        @if (formGenerator.value.type === 'checkbox') {
          {{ valueCheckbox | json }}
        } @else if (formGenerator.value.type === 'number') {
          {{ valueNumber | json }}
        } @else if (formGenerator.value.type === 'radio') {
          {{ valueRadio | json }}
        } @else if (formGenerator.value.type === 'select') {
          {{ valueSelect | json }}
        } @else if (formGenerator.value.type === 'color') {
          {{ valueColor | json }}
        } @else if (formGenerator.value.type === 'text') {
          {{ valueText | json }}
        } @else if (formGenerator.value.type === 'textarea') {
          {{ valueTextarea | json }}
        } @else if (formGenerator.value.type === 'password') {
          {{ valuePassword | json }}
        } @else if (formGenerator.value.type === 'range') {
          {{ valueRange | json }}
        } @else if (formGenerator.value.type === 'date') {
          {{ valueDate | json }}
        }
      </code>
    </p>

    <h2>Code</h2>
    <code-tabs
      [code]="[
        { type: 'html', code: codeHtml },
        { type: 'ts', code: codeTs },
      ]"
    />
  </div>
</section>
