<h1>Input</h1>

<section>
  <!-- Text -->
  <h2>Text</h2>
  <div>
    Test
    <mg-input>
      <mg-input-label>Label</mg-input-label>
      <mg-input-text value="test"></mg-input-text>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>
    Test
    <mg-input>
      <mg-input-label>Label ({{ value }})</mg-input-label>
      <mg-input-text [(ngModel)]="value"></mg-input-text>
    </mg-input>
    Test
    <mg-input [formGroup]="formText">
      <mg-input-text formControlName="test"></mg-input-text>
      <mg-input-desc
        >Desc<br />
        {{ formText.get('test')?.value }}</mg-input-desc
      >
    </mg-input>
    Test
    <mg-input>
      <mg-input-text value="test"></mg-input-text>
    </mg-input>
  </div>

  <!-- Color -->
  <h2>Color</h2>
  <div>
    Test
    <mg-input>
      <mg-input-label>Label</mg-input-label>
      <mg-input-color value="red"></mg-input-color>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>
    Test
    <mg-input>
      <mg-input-label>Label ({{ color }})</mg-input-label>
      <mg-input-color [(ngModel)]="color"></mg-input-color>
    </mg-input>
    Test
    <mg-input [formGroup]="formColor">
      <mg-input-color formControlName="test"></mg-input-color>
      <mg-input-desc
        >Desc<br />
        {{ formColor.get('test')?.value }}</mg-input-desc
      >
    </mg-input>
    Test
    <mg-input>
      <mg-input-color value="red"></mg-input-color>
    </mg-input>
    Test
    <mg-input>
      <mg-input-label>Label (alpha)</mg-input-label>
      <mg-input-color value="#f005" alpha></mg-input-color>
    </mg-input>
  </div>
  <!-- Radio / Checkbox -->
  <h2>Radio / Checkbox</h2>
  <div>
    Test
    <mg-input>
      <mg-input-label>Label</mg-input-label>
      <mg-input-text value="test"></mg-input-text>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>
    Test

    <mg-input>
      <mg-input-label>Label</mg-input-label>
      <mg-input-radio value="red">red</mg-input-radio>
      <mg-input-radio value="blue" checked>blue</mg-input-radio>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>

    Test

    <mg-input>
      <mg-input-label>Label ({{ radio }})</mg-input-label>
      <mg-input-radio [(ngModel)]="radio" value="red">red</mg-input-radio>
      <mg-input-radio [(ngModel)]="radio" value="blue">blue</mg-input-radio>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>

    Test

    <mg-input>
      <mg-input-label>Label</mg-input-label>
      <mg-input-checkbox value="red">red</mg-input-checkbox>
      <mg-input-checkbox value="blue" checked>blue</mg-input-checkbox>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>

    Test

    <mg-input>
      <mg-input-label>Label ({{ checkboxOne }})</mg-input-label>
      <mg-input-checkbox [(ngModel)]="checkboxOne">red</mg-input-checkbox>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>

    Test

    <mg-input>
      <mg-input-label>Label ({{ checkbox }})</mg-input-label>
      <mg-input-checkbox [(ngModel)]="checkbox" value="red">red</mg-input-checkbox>
      <mg-input-checkbox [(ngModel)]="checkbox" value="blue">blue</mg-input-checkbox>
      <mg-input-desc
        >Desc<br />
        test</mg-input-desc
      >
    </mg-input>
  </div>
</section>
