<h1>Buttons</h1>

<section>
  <div class="s-2 s-12-m">
    <button>Boutons</button>
    <button disabled>Boutons</button>
  </div>
  <div class="s-f"><code-tabs [code]="[{ type: 'html', code: default }]" /></div>
</section>
<hr />
<section>
  <div class="s-2 s-12-m">
    <button class="primary">Boutons</button>
    <button class="primary" disabled>Boutons</button>
  </div>
  <div class="s-f"><code-tabs [code]="[{ type: 'html', code: primary }]" /></div>
</section>
<hr />
<section>
  <div class="s-2 s-12-m">
    <button class="warn">Boutons</button>
    <button class="warn" disabled>Boutons</button>
  </div>
  <div class="s-f"><code-tabs [code]="[{ type: 'html', code: warn }]" /></div>
</section>

<h1>Links</h1>

<section>
  <div class="s-2 s-12-m">
    <a href="/style/buttons">Link</a>
  </div>
  <div class="s-f"><code-tabs [code]="[{ type: 'html', code: link }]" /></div>
</section>
