<h1>Buttons</h1>

<section>
  <div class="s-2">
    <button>Boutons</button>
  </div>
  <div class="s-f">
    <code-tabs [code]="[{ type: 'html', code: default }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div class="s-2">
    <button class="primary">Boutons</button>
  </div>
  <div class="s-f">
    <code-tabs [code]="[{ type: 'html', code: primary }]"></code-tabs>
  </div>
</section>
<hr />
<section>
  <div class="s-2">
    <button class="warn">Boutons</button>
  </div>
  <div class="s-f">
    <code-tabs [code]="[{ type: 'html', code: warn }]"></code-tabs>
  </div>
</section>
