<h1>Object</h1>

<div>
  <div class="s-6" [formGroup]="formCompare">
    <h2 class="s-12">objectsAreSame</h2>
    <mg-input class="s-6">
      <mg-input-label>Object A</mg-input-label>
      <mg-input-textarea formControlName="valueA" autosize></mg-input-textarea>
      @if (errorA) {
        <mg-input-error>{{ errorA }}</mg-input-error>
      }
    </mg-input>

    <mg-input class="s-6">
      <mg-input-label>Object B</mg-input-label>
      <mg-input-textarea formControlName="valueB" autosize></mg-input-textarea>
      @if (errorB) {
        <mg-input-error>{{ errorB }}</mg-input-error>
      }
    </mg-input>

    <div class="s-12">
      <button (click)="objectsAreSame()">Compare</button>

      {{ state ? 'Same' : 'Not same' }}
    </div>
  </div>
  <div class="s-6"><code-tabs [code]="[{ type: 'ts', code: codeTs }]" /></div>
</div>

<div>
  <div class="s-6" [formGroup]="formGet">
    <h2 class="s-12">objectNestedValue</h2>
    <mg-input class="s-6">
      <mg-input-label>Object</mg-input-label>
      <mg-input-textarea formControlName="valueC" autosize></mg-input-textarea>
      @if (errorC) {
        <mg-input-error>{{ errorC }}</mg-input-error>
      }
    </mg-input>

    <mg-input class="s-6">
      <mg-input-label>Get value</mg-input-label>
      <mg-input-text formControlName="valuePath"></mg-input-text>
    </mg-input>

    <div class="s-12">
      <button (click)="objectNestedValue()">Get Value</button>

      Value: <code>{{ value | json }}</code>
    </div>
  </div>
  <div class="s-6"><code-tabs [code]="[{ type: 'ts', code: codeTsGet }]" /></div>
</div>

<div>
  <div class="s-6" [formGroup]="formAssign">
    <h2 class="s-12">objectAssignNested</h2>
    <mg-input class="s-6">
      <mg-input-label>Object</mg-input-label>
      <mg-input-textarea formControlName="valueD" autosize></mg-input-textarea>
      @if (errorD) {
        <mg-input-error>{{ errorD }}</mg-input-error>
      }
    </mg-input>
    <mg-input class="s-6">
      <mg-input-label>Object</mg-input-label>
      <mg-input-textarea formControlName="valueE" autosize></mg-input-textarea>
      @if (errorE) {
        <mg-input-error>{{ errorE }}</mg-input-error>
      }
    </mg-input>

    <div class="s-12">
      <button (click)="objectAssignNested()">Get Value</button>
    </div>
    <mg-input class="s-6">
      <mg-input-label>Value</mg-input-label>
      <mg-input-textarea [value]="assign | json" autosize></mg-input-textarea>
      @if (errorE) {
        <mg-input-error>{{ errorE }}</mg-input-error>
      }
    </mg-input>
  </div>
  <div class="s-6"><code-tabs [code]="[{ type: 'ts', code: codeTsAssign }]" /></div>
</div>
