<h1>Contrib-calendar</h1>

<div>
  <div class="s-4 s-12-l">
    <h2>Options</h2>

    <form [formGroup]="ctrlForm">
      <mg-input class="s-12">
        <mg-input-label>Language</mg-input-label>
        <mg-input-select [data]="langues" formControlName="lang" nativeKeyboard />
        <mg-input-desc>based on JS Internationalisation API (Intl)</mg-input-desc>
      </mg-input>
      <mg-input class="s-6">
        <mg-input-label>Min</mg-input-label>
        <mg-input-date formControlName="min" />
      </mg-input>
      <mg-input class="s-6">
        <mg-input-label>Max</mg-input-label>
        <mg-input-date formControlName="max" />
      </mg-input>
    </form>

    <h2>Calendar</h2>

    @if (formArray) {
      <form [formGroup]="formArray">
        <div formArrayName="items">
          @for (item of items.controls; track $index; let i = $index) {
            <div [formGroupName]="i">
              <mg-input class="s-5">
                <mg-input-label>Date</mg-input-label>
                <mg-input-date formControlName="date" step="0" />
              </mg-input>
              <mg-input class="s-4">
                <mg-input-label>Value</mg-input-label>
                <mg-input-number formControlName="value" step="0" />
              </mg-input>
              <div class="s-3">
                <button type="button" (click)="removeItem(i)">Remove</button>
              </div>
            </div>
          }
        </div>
        <div class="s-12 a-l">
          <button type="button" (click)="addItem()">Add Row</button>
        </div>
      </form>
    }
  </div>
  <div class="s-8 s-12-l gap">
    <div class="s-12">
      <mg-contrib-calendar
        [calendar]="items.value"
        [lang]="ctrlForm.value.lang"
        [min]="ctrlForm.value.min"
        [max]="ctrlForm.value.max"
      />
    </div>

    <div class="s-12">
      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      />
    </div>
  </div>
</div>
