:host {
    display: flex;
}

aside {
    z-index: 2;

    .aside-content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 0;
        background: var(--neutral9);
        padding: 10px;
        height: 100%;
    }

    .content {
        flex: 1;
        overflow: auto;
    }
}

.mobile-menu {
    display: none;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h2 {
    display: grid;
    grid-template: 'logo title' 'logo version';
    margin-top: 0;

    img {
        grid-area: logo;
        align-self: center;
    }

    small {
        all: reset;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
    }
}

.lvl1 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 2px 0;
    padding: 0;
    list-style: none;

    li {
        div,
        a {
            display: block;
            margin: 0 2px;
            padding: 5px 10px;

            &:hover,
            &.active {
                background: var(--neutral9);
            }
        }

        li a {
            padding: 5px 10px 5px 20px;
        }
    }

    div {
        font-weight: 600;
    }
}

main {
    flex: 1 1 0%;
    padding: 0 20px 20px;
    overflow: hidden auto;
    scrollbar-gutter: stable;
}

.selected {
    background: var(--neutral8);
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 10px;

    .dir,
    .light-dark {
        width: fit-content;
    }
}

@media (width < 768px) {
    aside {
        .backdrop {
            width: 100%;
        }
        .aside-content {
            position: relative;
            position: fixed;
            left: -90%;
            z-index: 1;
            transition: left 0.5s;
            box-shadow: 0 0 0 0 #0000;
            width: 90%;
        }
    }

    :host.mobile-menu-open aside {
        .aside-content {
            left: 0;
            box-shadow: 0 0 10vw 10vw #0008;
        }

        .backdrop {
            position: absolute;
            top: 0;
            left: 0;
            background: #0004;
            width: 100vw;
            height: 100%;
        }
    }

    .mobile-menu {
        display: block;
    }

    main .mobile-menu {
        position: relative;
        top: 15px;
        float: right;
    }

    ul li a {
        padding: 12px 6px;
    }
}
