menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background: var(--neutral9);
    padding: 0;
    padding: 10px;
    height: 100%;
    height: 100%;

    .content {
        flex: 1;
        overflow: auto;
    }
}

h2 {
    display: grid;
    grid-template: 'logo title' 'logo version';
    margin-top: 0;

    img {
        grid-area: logo;
        align-self: center;
    }

    small {
        all: reset;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        div,
        a {
            display: block;
            padding: 5px 10px;

            &:hover,
            &.active {
                background: var(--neutral7);
            }
        }

        li a {
            padding: 5px 10px 5px 20px;
        }
    }

    div {
        font-weight: 600;
    }
}

:host {
    display: flex;
}

main {
    flex: 1 1 0%;
    padding: 0 20px 20px;
    overflow: hidden auto;
    scrollbar-gutter: stable;
}

.light-dark {
    margin-top: 10px;
    text-align: center;
}
