:host {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    background: var(--neutral9);
    padding: 10px;
    height: 100%;

    .content {
        flex: 1;
        overflow: auto;
    }
}

.mobile-menu {
    display: none;
}

@media (width < 768px) {
    aside {
        position: relative;
        position: fixed;
        left: -90%;
        z-index: 1;
        transition: left 0.5s;
        box-shadow: 0 0 0 0 #0000;
        width: 90%;
    }

    :host.mobile-menu-open aside {
        left: 0;
        box-shadow: 0 0 10vw 10vw #0008;
    }

    .mobile-menu {
        display: block;
    }

    main .mobile-menu {
        position: relative;
        top: 15px;
        float: right;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h2 {
    display: grid;
    grid-template: 'logo title' 'logo version';
    margin-top: 0;

    img {
        grid-area: logo;
        align-self: center;
    }

    small {
        all: reset;
        font-weight: 400;
        font-size: 12px;
        text-align: right;
    }
}

.lvl1 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}

ul {
    margin: 2px 0;
    padding: 0;
    list-style: none;

    li {
        div,
        a {
            display: block;
            margin: 0 2px;
            padding: 5px 10px;

            &:hover,
            &.active {
                background: var(--neutral9);
            }

            &::after {
                margin-left: 5px;
                font-variant-position: super;
            }
            &.new::after {
                content: 'new';
                color: var(--success5);
            }
            &.update::after {
                content: 'update';
                color: var(--warn5);
            }
        }

        li a {
            padding: 5px 10px 5px 20px;
        }
    }

    div {
        font-weight: 600;
    }
}

main {
    flex: 1 1 0%;
    padding: 0 20px 20px;
    overflow: hidden auto;
    scrollbar-gutter: stable;
}

.selected {
    background: var(--neutral8);
}

.light-dark {
    margin-top: 10px;
    text-align: center;
}
