<menu>
  <h3>Components</h3>
  <ul>
    <li><a routerLink="/color-picker" routerLinkActive="selected">Color Picker</a></li>
    <li><a routerLink="/context-menu" routerLinkActive="selected">Context menu</a></li>
    <li><a routerLink="/dialog" routerLinkActive="selected">Dialog</a></li>
    <li><a routerLink="/tabs" routerLinkActive="selected">Tabs</a></li>
  </ul>
  <h3>Styles</h3>
  <ul>
    <li><a routerLink="/style-buttons" routerLinkActive="selected">Buttons</a></li>
    <li><a routerLink="/style-inputs" routerLinkActive="selected">Inputs</a></li>
  </ul>
</menu>
<main>
  <router-outlet></router-outlet>
</main>
