<aside>
  <div class="backdrop" (click)="toggleMenu(false)"></div>
  <div class="aside-content">
    <div class="title">
      <h2>
        <img src="/assets/images/magma.svg" alt="logo" />
        <div>Magma</div>
        <small>{{ version }}</small>
      </h2>
      <button class="mobile-menu" (click)="toggleMenu(false)">×</button>
    </div>
    <nav class="content">
      @for (group of contentMenu; track $index) {
        <ng-container [ngTemplateOutlet]="groupTemplate" [ngTemplateOutletContext]="{ lvl: 1, groupItem: group }" />
      }
    </nav>
    <div class="light-dark">
      <mg-light-dark />
    </div>
  </div>
</aside>
<main>
  <button class="mobile-menu" (click)="toggleMenu(true)">☰</button>
  <router-outlet />
</main>

<ng-template #groupTemplate let-groupItem="groupItem" let-lvl="lvl">
  @if (groupItem.groupName) {
    <div class="lvl{{ lvl }}">{{ groupItem.groupName }}</div>
  }
  <ul>
    @for (item of groupItem.items; track $index) {
      <li>
        @if (item.label) {
          <a
            [routerLink]="item.routerLink"
            routerLinkActive="selected"
            ariaCurrentWhenActive="page"
            [innerHTML]="item.label"
            [ngClass]="item.status"
            (click)="toggleMenu(false)"
          ></a>
        } @else {
          <ng-container
            [ngTemplateOutlet]="groupTemplate"
            [ngTemplateOutletContext]="{ lvl: lvl + 1, groupItem: item }"
          />
        }
      </li>
    }
  </ul>
</ng-template>
