menu {
    margin: 0;
    padding: 0;
    height: 100%;

    h2 {
        margin-bottom: 0;
    }
    small {
        display: block;
        text-align: right;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        div,
        a {
            display: block;
            padding: 5px 10px;

            &:hover,
            &.active {
                background: var(--neutral7);
            }
        }
    }

    li li a {
        padding: 5px 10px 5px 20px;
    }

    div {
        font-weight: 600;
    }
}

:host {
    display: flex;
}

menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--neutral9);
    padding: 10px;
    height: 100%;

    .content {
        flex: 1;
        overflow: auto;
    }
}

main {
    flex: 1 1 0%;
    padding: 0 20px 20px;
    overflow: hidden auto;
    scrollbar-gutter: stable;
}

.light-dark {
    margin-top: 10px;
    text-align: center;
}
