table {
    width: 100%;
}

.popover-body {
    border: var(--mg-block-border);
    border-radius: var(--mg-block-radius);
    background: var(--mg-block-background);
    padding: 16px;
    min-width: 220px;
}
