table {
    width: 100%;
}

.popover-body {
    border: var(--block-border);
    border-radius: var(--block-radius);
    background: var(--block-background);
    padding: 16px;
    min-width: 220px;
}
