:host {
    --col: 2;
}

:host.show-border {
    div:has(> .break) {
        border: 1px dotted var(--alert600);

        & > div:not(.break, .sub) {
            border: 1px dashed var(--neutral800);
        }
    }
}
