<h1>Tabs</h1>

@if (ctrlForm) {
  <section>
    <div class="s-3 s-12-l">
      <form [formGroup]="form">
        <h3>Style</h3>
        <mg-input>
          <mg-input-checkbox formControlName="compact" mode="toggle">Compact</mg-input-checkbox>
        </mg-input>
        <h3>Text</h3>
        <mg-input>
          <mg-input-label>returnTabsLabel</mg-input-label>
          <mg-input-text formControlName="returnTabsLabel" />
          <mg-input-desc>For keyboard navigation</mg-input-desc>
        </mg-input>
      </form>

      <h3>Add tab</h3>
      <form [formGroup]="ctrlForm">
        <div>
          <mg-input>
            <mg-input-label>id</mg-input-label>
            <mg-input-text formControlName="id"></mg-input-text>
          </mg-input>
        </div>
        <div>
          <mg-input>
            <mg-input-label>title</mg-input-label>
            <mg-input-textarea formControlName="title" autosize></mg-input-textarea>
          </mg-input>
        </div>
        <div>
          <mg-input>
            <mg-input-label>content</mg-input-label>
            <mg-input-textarea formControlName="content" autosize></mg-input-textarea>
          </mg-input>
        </div>
        <div>
          <mg-input>
            <mg-input-checkbox formControlName="selected" mode="toggle">Selected</mg-input-checkbox>
          </mg-input>
        </div>
        <button (click)="addTab()">Add</button>
      </form>
    </div>
    <div class="s-5 s-12-l">
      <mg-tabs [class.compact]="form.value.compact" [returnTabsLabel]="form.value.returnTabsLabel!">
        @for (item of tabs; track $index) {
          <mg-tab-title [id]="item.id" [selected]="item.selected">{{ item.title }}</mg-tab-title>
        }
        @for (item of tabs; track $index) {
          <mg-tab-content [id]="item.id">{{ item.content }}</mg-tab-content>
        }
      </mg-tabs>
    </div>
    <div class="s-4 s-12-l">
      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      />
    </div>
  </section>
}
