<h1>Tabs</h1>

@if (ctrlForm) {
  <section>
    <form [formGroup]="ctrlForm">
      <div>
        <mg-input>
          <mg-input-label>id</mg-input-label>
          <mg-input-text formControlName="id"></mg-input-text>
        </mg-input>
      </div>
      <div>
        <mg-input>
          <mg-input-label>title</mg-input-label>
          <mg-input-textarea formControlName="title"></mg-input-textarea>
        </mg-input>
      </div>
      <div>
        <mg-input>
          <mg-input-label>content</mg-input-label>
          <mg-input-textarea formControlName="content"></mg-input-textarea>
        </mg-input>
      </div>
      <div>
        <mg-input>
          <mg-input-label>selected</mg-input-label>
          <mg-input-checkbox formControlName="selected" mode="toggle"></mg-input-checkbox>
        </mg-input>
      </div>
      <button (click)="addTab()">Add</button>
    </form>
    <div>
      <mg-tabs>
        @for (item of tabs; track $index) {
          <mg-tab-title [id]="item.id" [selected]="item.selected">{{ item.title }}</mg-tab-title>
        }
        @for (item of tabs; track $index) {
          <mg-tab-content [id]="item.id">{{ item.content }}</mg-tab-content>
        }
      </mg-tabs>
    </div>
    <div>
      <code-tabs [code]="[{ type: 'html', code: codeHtml }]"></code-tabs>
    </div>
  </section>
}
