<h1>Window</h1>

<h2>Component</h2>
@if (ctrlForm) {
  <section>
    <form class="s-4 s-8-l s-12-s" [formGroup]="ctrlForm"></form>
    <div class="s-4 s-4-l s-12-s">
      <button (click)="window.open()">Open window</button>

      <mg-window #window>
        <p>Content window</p>
        <p>
          <button (click)="window.close()">Close</button>
        </p>
        <p>
          @let l = [0];
          @for (b of l; track $index) {
            <button (click)="l.push(0)">Add</button>
          }
        </p>
      </mg-window>
    </div>
    <div class="s-4 s-12-l">
      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      />
    </div>
  </section>
}

<h2>Service</h2>
<section>
  <form class="s-4 s-8-l s-12-s" [formGroup]="ctrlFormZone">
    <p>
      <mg-input class="s-4">
        <mg-input-label>Position</mg-input-label>
        <mg-input-select formControlName="position" [data]="position">enabled</mg-input-select>
      </mg-input>
      @if (ctrlFormZone.value.position === 'define') {
        <mg-input class="s-4">
          <mg-input-prefix>x</mg-input-prefix>
          <mg-input-number formControlName="posX" />
        </mg-input>
        <mg-input class="s-4">
          <mg-input-prefix>y</mg-input-prefix>
          <mg-input-number formControlName="posY" />
        </mg-input>
      }
    </p>
    <p>
      <mg-input class="s-4">
        <mg-input-label>Bar</mg-input-label>
        <mg-input-checkbox formControlName="bar">Active</mg-input-checkbox>
      </mg-input>
      <mg-input class="s-4">
        <mg-input-label>title</mg-input-label>
        <mg-input-text formControlName="barTitle" />
      </mg-input>
      <mg-input class="s-4">
        <mg-input-label>buttons</mg-input-label>
        <mg-input-checkbox formControlName="barButtons">Active</mg-input-checkbox>
      </mg-input>
    </p>
  </form>

  <div class="s-4 s-4-l s-12-s">
    <button (click)="openWindow()">Open window with TestWindowComponent component</button>
  </div>
</section>
