<h1>Block</h1>

<div>
  <div class="s-9 s-12-l">
    <h2>One block</h2>
    <mg-block>
      <h1>Test</h1>
      <p>Test</p>
    </mg-block>
  </div>
  <div class="s-3 s-12-l">
    <code-tabs [code]="[{ type: 'html', code: codeHtml }]"></code-tabs>
  </div>
</div>

<div>
  <div class="s-9 s-12-l">
    <h2>With grid</h2>
    <div class="gap">
      <mg-block class="s-3 s-6-l s-12-s">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-3 s-6-l s-12-s">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-6 s-12-l">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-6 s-12-l">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-6">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-12">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-4">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-4">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-2">
        <h1>Test</h1>
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
      <mg-block class="s-1">
        <p>Test</p>
      </mg-block>
    </div>
  </div>
  <div class="s-3 s-12-l">
    <code-tabs [code]="[{ type: 'html', code: codeHtmlGridGad }]"></code-tabs>
  </div>
</div>
