/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

@import url('highlight.js/styles/a11y-dark.css');

@import url('../projects/ikilote/magma/src/assets/styles/font-icon.css');
@import url('../projects/ikilote/magma/src/assets/styles/css-var.css');
@import url('../projects/ikilote/magma/src/assets/styles/style.css');

app-root {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

code:not(:has(> pre)) {
    border-radius: 3px;
    background-color: var(--neutral8);
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
}

code > pre {
    border-radius: 6px;
    overflow: auto;
}

sup.new {
    color: var(--success5);
}

sup.update {
    color: var(--warn5);
}
