/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

@import url('highlight.js/styles/a11y-dark.css');

@import url('../projects/ikilote/magma/src/assets/styles/font-icon.css');
@import url('../projects/ikilote/magma/src/assets/styles/css-var.css');
@import url('../projects/ikilote/magma/src/assets/styles/style.css');

/* Accessibility vision themes */
@import url('../projects/ikilote/magma/src/assets/styles/theme-protanopia.css');
@import url('../projects/ikilote/magma/src/assets/styles/theme-deuteranopia.css');
@import url('../projects/ikilote/magma/src/assets/styles/theme-tritanopia.css');
@import url('../projects/ikilote/magma/src/assets/styles/theme-achromatopsia.css');
@import url('../projects/ikilote/magma/src/assets/styles/theme-high-contrast.css');

/* OpenDyslexic font */
@import 'open-dyslexic/open-dyslexic-regular.css';

body.theme-dyslexia {
    --font-family: 'OpenDyslexicRegular', sans-serif;
    --input-line-height: 28px;
}

app-root {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

code:not(:has(> pre)) {
    border-radius: 3px;
    background-color: var(--neutral200);
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;

    &.block {
        display: block;
    }
}

code > pre {
    border-radius: 6px;
    overflow: auto;
}

.new:dir(ltr)::after,
.new:dir(rtl)::before {
    margin-inline-start: 5px;
    content: 'new';
    color: var(--success500);
    font-variant-position: super;
}

.update:dir(ltr)::after,
.update:dir(rtl)::before {
    margin-inline-start: 5px;
    content: 'update';
    color: var(--warn500);
    font-variant-position: super;
}

.experimental:dir(ltr)::after,
.experimental:dir(rtl)::before {
    margin-inline-start: 5px;
    content: 'experimental';
    color: var(--primary500);
    font-variant-position: super;
}
