body,
body.light-mode {
    color-scheme: light;

    /* MARK: palettes light */
    --primaryH: 190;
    --L000: 100%;
    --L050: 95%;
    --L100: 90%;
    --L200: 85%;
    --L300: 80%;
    --L400: 70%;
    --L500: 60%;
    --L600: 50%;
    --L700: 40%;
    --L800: 30%;
    --L900: 20%;
    --L950: 10%;
    --L990: 0%;

    /* MARK: loader-tile */
    --loading-item-animation-color: 0 0 0;
}

body.dark-mode {
    color-scheme: dark;

    /* MARK: palettes dark */
    --primaryH: 210;
    --L000: 0%;
    --L050: 5%;
    --L100: 6%;
    --L200: 10%;
    --L300: 20%;
    --L400: 35%;
    --L500: 40%;
    --L600: 50%;
    --L700: 60%;
    --L800: 70%;
    --L900: 80%;
    --L950: 95%;
    --L990: 100%;

    /* MARK: loader-tile */
    --loading-item-animation-color: 255 255 255;
}

body {
    /* MARK: palettes */

    /* --- PRIMARY  --- */
    --primary050: hsl(var(--primaryH), 5%, var(--L050));
    --primary100: hsl(var(--primaryH), 15%, var(--L100));
    --primary200: hsl(var(--primaryH), 15%, var(--L200));
    --primary300: hsl(var(--primaryH), 15%, var(--L300));
    --primary400: hsl(var(--primaryH), 15%, var(--L400));
    --primary500: hsl(var(--primaryH), 15%, var(--L500));
    --primary600: hsl(var(--primaryH), 15%, var(--L600));
    --primary700: hsl(var(--primaryH), 15%, var(--L700));
    --primary800: hsl(var(--primaryH), 15%, var(--L800));
    --primary900: hsl(var(--primaryH), 15%, var(--L900));
    --primary950: hsl(var(--primaryH), 5%, var(--L950));

    /* --- NEUTRAL  --- */
    --neutral000: hsl(0, 0%, var(--L000));
    --neutral050: hsl(0, 0%, var(--L050));
    --neutral100: hsl(0, 0%, var(--L100));
    --neutral200: hsl(0, 0%, var(--L200));
    --neutral300: hsl(0, 0%, var(--L300));
    --neutral400: hsl(0, 0%, var(--L400));
    --neutral500: hsl(0, 0%, var(--L500));
    --neutral600: hsl(0, 0%, var(--L600));
    --neutral700: hsl(0, 0%, var(--L700));
    --neutral800: hsl(0, 0%, var(--L800));
    --neutral900: hsl(0, 0%, var(--L900));
    --neutral950: hsl(0, 0%, var(--L950));
    --neutral990: hsl(0, 0%, var(--L990));

    /* --- ALERT  --- */
    --alert050: hsl(0, 5%, var(--L050));
    --alert100: hsl(0, 15%, var(--L100));
    --alert200: hsl(0, 25%, var(--L200));
    --alert300: hsl(0, 45%, var(--L300));
    --alert400: hsl(0, 55%, var(--L400));
    --alert500: hsl(0, 75%, var(--L500));
    --alert600: hsl(0, 65%, var(--L600));
    --alert700: hsl(0, 55%, var(--L700));
    --alert800: hsl(0, 45%, var(--L800));
    --alert900: hsl(0, 25%, var(--L900));
    --alert950: hsl(0, 5%, var(--L950));

    /* --- WARN   --- */
    --warn050: hsl(15, 5%, var(--L050));
    --warn100: hsl(15, 15%, var(--L100));
    --warn200: hsl(15, 25%, var(--L200));
    --warn300: hsl(15, 45%, var(--L300));
    --warn400: hsl(15, 55%, var(--L400));
    --warn500: hsl(15, 75%, var(--L500));
    --warn600: hsl(15, 65%, var(--L600));
    --warn700: hsl(15, 55%, var(--L700));
    --warn800: hsl(15, 45%, var(--L800));
    --warn900: hsl(15, 25%, var(--L900));
    --warn950: hsl(15, 5%, var(--L950));

    /* --- SUCCESS   --- */
    --success050: hsl(120, 5%, var(--L050));
    --success100: hsl(120, 15%, var(--L100));
    --success200: hsl(120, 25%, var(--L200));
    --success300: hsl(120, 45%, var(--L300));
    --success400: hsl(120, 55%, var(--L400));
    --success500: hsl(120, 55%, var(--L500));
    --success600: hsl(120, 65%, var(--L600));
    --success700: hsl(120, 55%, var(--L700));
    --success800: hsl(120, 45%, var(--L800));
    --success900: hsl(120, 25%, var(--L900));
    --success950: hsl(120, 5%, var(--L950));

    /* MARK: global */
    --background: var(--primary050);
    --text-color: var(--primary950);
    --color-mode-border-color: var(--primary950);
    --font-family: 'Roboto', 'Segoe UI', Geneva, Verdana, sans-serif;
    --font-mono:
        'Roboto Mono', 'FreeMono', 'Liberation Mono', 'Ubuntu Mono', 'Courier New', 'Droid Sans Mono', Courier,
        monospace;
    --input-focus-color: var(--neutral950);

    /* MARK: context-menu */
    --context-menu-background: var(--primary200);
    --context-menu-item: var(--primary300);
    --context-menu-item-hover: var(--primary400);

    /* MARK: ellipsis-button */
    --context-button-list-background: var(--primary200);
    --ellipsis-item-background: var(--primary300);
    --ellipsis-item-hover-background: var(--primary400);

    /* MARK: default button */
    --button-default-border-color: var(--neutral500);
    --button-default-background: var(--neutral300);
    --button-default-box-shadow: var(--neutral500);
    --button-default-color: var(--neutral950);
    --button-default-hover-border-color: var(--neutral100);
    --button-default-hover-background: var(--neutral400);
    --button-default-hover-box-shadow: var(--neutral300);
    --button-default-focus-border-color: var(--input-focus-color);

    /* MARK: primary button */
    --button-primary-border-color: var(--primary300);
    --button-primary-background: var(--primary400);
    --button-primary-box-shadow: var(--primary050);
    --button-primary-color: var(--primary950);
    --button-primary-hover-border-color: var(--primary100);
    --button-primary-hover-background: var(--primary400);
    --button-primary-hover-box-shadow: var(--primary300);
    --button-primary-focus-border-color: var(--input-focus-color);

    /* MARK: warn button */
    --button-warn-border-color: var(--alert300);
    --button-warn-background: var(--alert200);
    --button-warn-box-shadow: var(--alert050);
    --button-warn-color: var(--alert950);
    --button-warn-hover-border-color: var(--alert100);
    --button-warn-hover-background: var(--alert400);
    --button-warn-hover-box-shadow: var(--alert300);
    --button-warn-focus-border-color: var(--alert500);

    /* MARK: link */
    --link-color: var(--primary700);
    --link-hover-color: var(--primary950);
    --link-focus-border-color: var(--input-focus-color);

    /* MARK: dialog */
    --dialog-backdrop-background: color-mix(in hsl, var(--primary050) 60%, transparent);
    --dialog-backdrop-background-no-filter: color-mix(in hsl, var(--primary050) 70%, transparent);
    --dialog-background: var(--neutral200);
    --dialog-shadow-color: color-mix(in hsl, var(--neutral050) 30%, transparent);
    --dialog-close-shadow-color: var(--neutral500);
    --dialog-close-background: var(--neutral300);
    --dialog-close-background-hover: var(--neutral500);

    /* MARK: input */
    --input-border-color: var(--primary600);
    --input-background: var(--primary200);
    --input-background-affix: var(--primary300);
    --input-background-transparent: color-mix(in hsl, var(--input-background) 60%, transparent);
    --input-item-color: var(--primary400);
    --input-item-active-color: var(--primary700);
    --input-focus-border-color: var(--input-focus-color);
    --input-color-shadow: var(--neutral050);
    --input-checked-color: var(--primary500);
    --input-textarea-min-height: 33px;
    --input-textarea-max-height: 500px;
    --input-textarea-limit-size: 16px;
    --input-textarea-limit-background: var(--neutral400);
    --input-textarea-limit-color: var(--primary600);
    --input-textarea-limit-border: 1px solid var(--neutral400);
    --input-error-color: var(--alert700);
    --input-line-height: 21px;
    --input-mark-top: -2px;
    --input-placeholder-color: var(--primary600);

    /* MARK: item content-box */
    --content-title-text-color: var(--neutral990);
    --content-box-border: var(--neutral300);
    --content-box-background: var(--neutral200);
    --content-box-color: var(--neutral100);
    --content-box-text-background: #000000bf;
    --content-box-over-text: #fff;
    --tile-add-file-background: var(--neutral200);
    --tile-add-file-color: var(--neutral700);
    --tile-info-text-color: #fff;
    --tile-info-border-color: #fff;
    --tile-info-border-color2: #000;
    --tile-info-background: #fff5;

    /* MARK: color-picker */
    --color-picker-embedded-background: var(--neutral050);
    --color-picker-color-view-border: 1px solid var(--neutral990);
    --color-picker-color-view-background: var(--background);
    --color-picker-color-cursor-zone-outline: 1px solid var(--neutral990);
    --color-picker-color-cursor-zone-offset: -3px;
    --color-picker-color-range-track-border: 1px solid var(--neutral990);
    --color-picker-color-range-thumb-border: 1px solid var(--neutral990);
    --color-picker-color-palette-item-by-line: 9;
    --color-picker-color-palette-item-height: 30px;
    --color-picker-color-palette-item-border: 1px solid var(--neutral990);
    --color-picker-color-palette-item-border-hover: 1px solid var(--neutral500);
    --color-picker-color-palette-item-outline-selected: 3px solid #040404;
    --color-picker-color-palette-item-outline-offset: -1px;

    /* MARK: datetime-picker */
    --datetime-picker-embedded-background: var(--neutral050);
    --datetime-picker-head-background: var(--neutral100);
    --datetime-picker-day-color: var(--neutral300);
    --datetime-picker-day-background: var(--neutral100);
    --datetime-picker-day-current-month-background: var(--neutral200);
    --datetime-picker-day-current-month-color: var(--neutral800);
    --datetime-picker-day-weekend-current-month-text: var(--primary600);
    --datetime-picker-day-today-background: var(--neutral300);
    --datetime-picker-day-today-text: var(--primary700);
    --datetime-picker-day-selected-background: var(--primary500);
    --datetime-picker-day-selected-color: var(--neutral000);
    --datetime-picker-day-selectable-background: var(--primary400);
    --datetime-picker-day-selectable-color: var(--neutral950);
    --datetime-picker-day-disabled-background: transparent;

    /* MARK: tabs */
    --tabs-line-color: var(--neutral400);
    --tab-border-color: var(--neutral400);
    --tab-text-color: var(--neutral600);
    --tab-select-border-color: var(--neutral600);
    --tab-text-border-color: var(--neutral950);
    --tab-hover-border-color: var(--neutral950);

    /* MARK: scrollbar */
    --scrollbar-color: var(--primary400);
    --scrollbar-color-hover: var(--primary600);
    --scrollbar-width: thin;

    /* MARK: message */
    --info-message-top: 50px;
    --info-message-max-width: 300px;
    --info-message-border-color: var(--neutral900);
    --info-message-background: var(--neutral500);
    --info-message-box-shadow-color: var(--neutral000);
    --info-message-progress-background: var(--neutral900);
    --error-message-border-color: var(--alert700);
    --error-message-background: var(--alert300);
    --error-message-box-shadow-color: var(--neutral000);
    --error-message-progress-background: var(--alert500);
    --warn-message-border-color: var(--warn700);
    --warn-message-background: var(--warn300);
    --warn-message-box-shadow-color: var(--neutral000);
    --warn-message-progress-background: var(--warn500);
    --success-message-border-color: var(--success700);
    --success-message-background: var(--success300);
    --success-message-box-shadow-color: var(--neutral000);
    --success-message-progress-background: var(--success500);
    --tip-message-border-color: var(--primary700);
    --tip-message-background: var(--primary300);
    --tip-message-box-shadow-color: var(--neutral000);
    --tip-message-progress-background: var(--primary500);

    /* MARK: grid */
    --grid-cell-padding: 6px;

    /* MARK: block */
    --block-radius: 3px;
    --block-border: 1px solid var(--primary500);
    --block-shadow: 0 0 24px 2px var(--primary200);
    --block-margin: 12px;

    /* MARK: block */
    --message-radius: 3px;
    --message-color: var(--primary950);
    --message-border-color: var(--primary500);
    --message-border-width: 1px;
    --message-border-style: solid;
    --message-shadow: 0 0 24px 2px var(--primary200);
    --message-margin: 12px;
    --message-gap: 12px;
    --message-marquee-size: 20px;
    --message-background: var(--primary050);
    --info-message-color: var(--neutral200);
    --info-message-border-color: var(--neutral700);
    --info-message-background: var(--neutral500);
    --success-message-color: var(--success800);
    --success-message-border-color: var(--success500);
    --success-message-background: var(--success300);
    --warn-message-color: var(--warn800);
    --warn-message-border-color: var(--warn500);
    --warn-message-background: var(--warn300);
    --error-message-color: var(--alert800);
    --error-message-border-color: var(--alert500);
    --error-message-error-background: var(--alert300);
    --tip-message-color: var(---primary800);
    --tip-message-border-color: var(--primary500);
    --tip-message-background: var(--primary300);

    /* MARK: table */
    --table-header-background: var(--neutral100);
    --table-header-background-hover: var(--neutral200);
    --table-header-sortable-cell: var(--neutral300);
    --table-line-hover-background: var(--neutral300);
    --table-selected-text: var(--alert800);

    /* MARK: tooltip */
    --tooltip-text-color: var(--neutral950);
    --tooltip-background: color-mix(in hsl, var(--primary200) 93%, transparent);
    --tooltip-shadow-color: var(--neutral000);
    --tooltip-border-color: var(--primary200);
    --tooltip-cursor: help;

    /* MARK: page */
    --page-item-text-color: var(--neutral900);
    --page-item-border-color: var(--neutral500);
    --page-item-current-test-color: var(--primary700);
    --page-item-current-background: var(--primary200);
    --page-item-hover-background: var(--neutral300);

    /* MARK: walkthrough */
    --walkthrough-backdrop: rgba(0, 0, 0, 0.7);

    /* MARK: click-enter */
    --click-enter-hover-background: none;
    --click-enter-hover-cursor: pointer;
    --click-enter-hover-filter: brightness(0.8);
    --click-enter-block-hover-background: var(--neutral200);

    /* MARK: spinner */
    --spinner-color: var(--neutral950);

    /* MARK: loader */
    --loader-background: color-mix(in hsl, var(--neutral050) 23%, transparent);
    --loader-text-color: var(--neutral950);
    --loader-text-shadow-color: var(--neutral000);
    --loader-progress-background: #0b0b0b80;
    --loader-progress-bar-background: #fff;

    /* MARK: loader-tile */
    --loading-item-color: var(--primary200);

    /* MARK: contrib-calendar */
    --contrib-calendar-day-font-size: 12px;
    --contrib-calendar-day-background: var(--neutral050);
    --contrib-calendar-month-font-size: 12px;
    --contrib-calendar-tile-size: 15px;
    --contrib-calendar-tile-color-even: var(--neutral100);
    --contrib-calendar-tile-color-odd: var(--neutral200);
    --contrib-calendar-tile-color-lvl1: var(--success300);
    --contrib-calendar-tile-color-lvl2: var(--success400);
    --contrib-calendar-tile-color-lvl3: var(--success500);
    --contrib-calendar-tile-color-lvl4: var(--success600);

    /* -----external ------------------------------------------------------------------------------------------------*/
    /* MARK: select2 */
    --select2-selection-focus-border-color: var(--input-focus-border-color);
    --select2-selection-text-color: var(--text-color);
    --select2-selection-background: var(--input-background);
    --select2-selection-border-color: var(--input-border-color);
    --select2-selection-disabled-background: var(--input-background);
    --select2-selection-disabled-border-color: var(--input-border-color);
    --select2-single-height: auto;
    --select2-dropdown-background: var(--input-background);
    --select2-dropdown-border-color: var(--input-border-color);
    --select2-option-text-color: var(--text-color);
    --select2-option-selected-text-color: var(--text-color);
    --select2-option-selected-background: var(--primary500);
    --select2-option-highlighted-text-color: var(--text-color);
    --select2-option-highlighted-background: var(--primary400);
    --select2-search-border-color: var(--input-border-color);
    --select2-search-background: var(--text-color);
    --select2-selection-line-height: 31px;
    --select2-selection-readonly-background: var(--input-background);

    --select2-selection-choice-line-height: 25px;
    --select2-selection-choice-background: var(--primary300);
    --select2-selection-choice-border-color: var(--primary500);
    --select2-selection-choice-text-color: var(--text-color);
    --select2-selection-choice-close-color: var(--primary800);
    --select2-selection-choice-hover-close-color: var(--primary950);
}
