body,
html {
    margin: 0;
    background: var(--background);
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: var(--text-color);
}

*,
*:focus,
*:hover {
    transition-duration: 0.3s;
    /* color not possible in Chromium (too slow) */
    transition-property: background-color, opacity, border, box-shadow, text-shadow, outline;
}

* {
    font-family: var(--font-family);
}

/* -------------------- links ------------------------------------------------------------
    MARK: Links
*/

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
}
table a {
    margin: auto 10px;
}

/* -------------------- buttons ------------------------------------------------------------
    MARK: Button
*/

button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}

button:disabled {
    opacity: 0.25;
}

button:disabled :hover {
    box-shadow: 0 0 1px var(--button-default-box-shadow);
    border: 2px solid var(--button-default-border-color);
    background: var(--button-default-background);
}

button.primary {
    --button-default-border-color: var(--button-primary-border-color);
    --button-default-background: var(--button-primary-background);
    --button-default-box-shadow: var(--button-primary-box-shadow);
    --button-default-color: var(--button-primary-color);
    --button-default-hover-border-color: var(--button-primary-hover-border-color);
    --button-default-hover-background: var(--button-primary-hover-background);
    --button-default-hover-box-shadow: var(--button-primary-hover-box-shadow);
    --button-default-focus-border-color: var(--button-primary-focus-border-color);
}

button.warn {
    --button-default-border-color: var(--button-warn-border-color);
    --button-default-background: var(--button-warn-background);
    --button-default-box-shadow: var(--button-warn-box-shadow);
    --button-default-color: var(--button-warn-color);
    --button-default-hover-border-color: var(--button-warn-hover-border-color);
    --button-default-hover-background: var(--button-warn-hover-background);
    --button-default-hover-box-shadow: var(--button-warn-hover-box-shadow);
    --button-default-focus-border-color: var(--button-warn-focus-border-color);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons > button {
    margin: 0;
}

.buttons > .line {
    flex: 1 1 100%;
}

/* -------------------- input / button ------------------------------------------------------------
    MARK: Input / button
*/

button,
input::file-selector-button {
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    box-shadow: 0 0 1px var(--button-default-box-shadow);
    border: 2px solid var(--button-default-border-color);
    border-radius: 5px;
    background: var(--button-default-background);
    padding: 10px;
    color: var(--button-default-color);
    caret-color: transparent;
    font-size: 110%;
}

button,
input::file-selector-button {
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    box-shadow: 0 0 1px var(--button-default-box-shadow);
    border: 2px solid var(--button-default-border-color);
    border-radius: 5px;
    background: var(--button-default-background);
    padding: 10px;
    color: var(--button-default-color);
    caret-color: transparent;
    font-size: 110%;
}
button:hover,
input::file-selector-button:hover {
    box-shadow: 0 0 6px var(--button-default-hover-box-shadow);
    border: 2px solid var(--button-default-hover-border-color);
    background: var(--button-default-hover-background);
}

button:focus,
input::file-selector-button:focus {
    border-color: var(--button-default-focus-border-color);
}

[type='file'] {
    cursor: pointer;
}

[type='color'] {
    min-width: 60px;
    max-width: 200px;
    height: 30px;
}

input:not(:focus-visible):invalid {
    text-decoration: underline wavy var(--alert5);
}

input::placeholder {
    color: var(--input-placeholder-color);
}

/** Fix Chromium */
input[type='range'][orient='vertical'] {
    vertical-align: bottom;
    appearance: slider-vertical;
    width: 16px;
    writing-mode: vertical-lr;
    direction: rtl;
}
input[type='range'][orient='horizontal'] {
    margin: 0 2px;
    padding: 4px;
}

:where(input:not([type='checkbox'], [type='radio']), .input, textarea, select) {
    box-sizing: border-box;
    outline: 2px solid transparent;
    border: 1px solid var(--input-border-color);
    border-radius: 3px;
    background: var(--input-background);
    padding: 5px 3px;
    width: 100%;
    color: var(--text-color);
    font-size: 16px;
    line-height: var(--input-line-height);
}

textarea {
    min-height: 31px;
}

:where(input:not([type='checkbox'], [type='radio']), .input, textarea, select):disabled {
    opacity: 0.5;
}

:where(input:not([type='checkbox'], [type='radio']), .input, textarea, select):focus {
    outline-color: var(--input-focus-border-color);
}

input:where([type='range'], [type='checkbox'], [type='radio']) {
    accent-color: var(--primary5);
}

.select2-container-dropdown {
    transition: none;
}

select2 {
    &[ng-reflect-disabled='true'] {
        opacity: 0.5;
    }

    [tabindex] {
        outline: none;
    }
}

/* -------------------- tooltip ------------------------------------------------------------
    MARK: Tooltip
*/

[ng-reflect-tooltip] {
    cursor: help;
}

.tooltip-container {
    position: fixed;
    transform: translate(-50%, -30%);
    opacity: 0;
    z-index: 4;
    animation: tooltip-slide 0.18s ease-out 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 2px 2px 5px var(--tooltip-shadow-color);
    border: 1px solid var(--tooltip-border-color);
    background: var(--tooltip-background);
    padding: 6px;
    pointer-events: none;
    color: var(--tooltip-text-color);
    text-align: center;
    white-space: pre-wrap;
}

@keyframes tooltip-slide {
    0% {
        transform: translate(-50%, -30%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

/*  -------------------- table / sortable ------------------------------------------------------------
    MARK: Table / sortable
*/

.sort-cell {
    cursor: pointer;

    &:hover {
        background-color: var(--table-header-sortable-cell);
    }
}

.sort-asc::after {
    display: inline;
    content: ' ⮟';
}

.sort-desc::after {
    display: inline;
    content: ' ⮝';
}

/* -------------------- grid ------------------------------------------------------------
    MARK: Grid
*/
/* container : (0, 2, 0)*/
:has(
    > .s-12,
    > .s-11,
    > .s-10,
    > .s-9,
    > .s-8,
    > .s-7,
    > .s-6,
    > .s-5,
    > .s-4,
    > .s-3,
    > .s-2,
    > .s-1,
    > .s-f,
    > .s-12-x,
    > .s-11-x,
    > .s-10-x,
    > .s-9-x,
    > .s-8-x,
    > .s-7-x,
    > .s-6-x,
    > .s-5-x,
    > .s-4-x,
    > .s-3-x,
    > .s-2-x,
    > .s-1-x,
    > .s-12-l,
    > .s-11-l,
    > .s-10-l,
    > .s-9-l,
    > .s-8-l,
    > .s-7-l,
    > .s-6-l,
    > .s-5-l,
    > .s-4-l,
    > .s-3-l,
    > .s-2-l,
    > .s-1-l,
    > .s-12-m,
    > .s-11-m,
    > .s-10-m,
    > .s-9-m,
    > .s-8-m,
    > .s-7-m,
    > .s-6-m,
    > .s-5-m,
    > .s-4-m,
    > .s-3-m,
    > .s-2-m,
    > .s-1-m,
    > .s-12-s,
    > .s-11-s,
    > .s-10-s,
    > .s-9-s,
    > .s-8-s,
    > .s-7-s,
    > .s-6-s,
    > .s-5-s,
    > .s-4-s,
    > .s-3-s,
    > .s-2-s,
    > .s-1-s,
    > .break
) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    /* (0, 4, 1) */
    & > :not(.break, .sub) {
        box-sizing: border-box;
        padding: var(--grid-cell-padding);
    }
}

/** [class][class] => (0, 5, 0) */
:is(
        .s-12,
        .s-11,
        .s-10,
        .s-9,
        .s-8,
        .s-7,
        .s-6,
        .s-5,
        .s-4,
        .s-3,
        .s-2,
        .s-1,
        .s-12-x,
        .s-11-x,
        .s-10-x,
        .s-9-x,
        .s-8-x,
        .s-7-x,
        .s-6-x,
        .s-5-x,
        .s-4-x,
        .s-3-x,
        .s-2-x,
        .s-1-x,
        .s-12-l,
        .s-11-l,
        .s-10-l,
        .s-9-l,
        .s-8-l,
        .s-7-l,
        .s-6-l,
        .s-5-l,
        .s-4-l,
        .s-3-l,
        .s-2-l,
        .s-1-l,
        .s-12-m,
        .s-11-m,
        .s-10-m,
        .s-9-m,
        .s-8-m,
        .s-7-m,
        .s-6-m,
        .s-5-m,
        .s-4-m,
        .s-3-m,
        .s-2-m,
        .s-1-m,
        .s-12-s,
        .s-11-s,
        .s-10-s,
        .s-9-s,
        .s-8-s,
        .s-7-s,
        .s-6-s,
        .s-5-s,
        .s-4-s,
        .s-3-s,
        .s-2-s,
        .s-1-s,
        .s-f
    ):has(
        > .s-12,
        > .s-11,
        > .s-10,
        > .s-9,
        > .s-8,
        > .s-7,
        > .s-6,
        > .s-5,
        > .s-4,
        > .s-3,
        > .s-2,
        > .s-1,
        > .s-f,
        > .s-12-x,
        > .s-11-x,
        > .s-10-x,
        > .s-9-x,
        > .s-8-x,
        > .s-7-x,
        > .s-6-x,
        > .s-5-x,
        > .s-4-x,
        > .s-3-x,
        > .s-2-x,
        > .s-1-x,
        > .s-12-l,
        > .s-11-l,
        > .s-10-l,
        > .s-9-l,
        > .s-8-l,
        > .s-7-l,
        > .s-6-l,
        > .s-5-l,
        > .s-4-l,
        > .s-3-l,
        > .s-2-l,
        > .s-1-l,
        > .s-12-m,
        > .s-11-m,
        > .s-10-m,
        > .s-9-m,
        > .s-8-m,
        > .s-7-m,
        > .s-6-m,
        > .s-5-m,
        > .s-4-m,
        > .s-3-m,
        > .s-2-m,
        > .s-1-m,
        > .s-12-s,
        > .s-11-s,
        > .s-10-s,
        > .s-9-s,
        > .s-8-s,
        > .s-7-s,
        > .s-6-s,
        > .s-5-s,
        > .s-4-s,
        > .s-3-s,
        > .s-2-s,
        > .s-1-s,
        > .break,
        > .sub
    )[class][class] {
    padding: 0;
}

:is(
    .s-12,
    .s-11,
    .s-10,
    .s-9,
    .s-8,
    .s-7,
    .s-6,
    .s-5,
    .s-4,
    .s-3,
    .s-2,
    .s-1,
    .s-12-x,
    .s-11-x,
    .s-10-x,
    .s-9-x,
    .s-8-x,
    .s-7-x,
    .s-6-x,
    .s-5-x,
    .s-4-x,
    .s-3-x,
    .s-2-x,
    .s-1-x,
    .s-12-l,
    .s-11-l,
    .s-10-l,
    .s-9-l,
    .s-8-l,
    .s-7-l,
    .s-6-l,
    .s-5-l,
    .s-4-l,
    .s-3-l,
    .s-2-l,
    .s-1-l,
    .s-12-m,
    .s-11-m,
    .s-10-m,
    .s-9-m,
    .s-8-m,
    .s-7-m,
    .s-6-m,
    .s-5-m,
    .s-4-m,
    .s-3-m,
    .s-2-m,
    .s-1-m,
    .s-12-s,
    .s-11-s,
    .s-10-s,
    .s-9-s,
    .s-8-s,
    .s-7-s,
    .s-6-s,
    .s-5-s,
    .s-4-s,
    .s-3-s,
    .s-2-s,
    .s-1-s,
    .s-1,
    .s-f
) {
    flex: 0 0 calc(var(--size) - var(--grid-gap, 0px));
    margin-left: calc(var(--grid-gap, 0px));
    max-width: var(--size);
}

/* size 12 / 12 */
.s-12 {
    --size: 100%;
}
/* size 11 / 12 */
.s-11 {
    --size: calc(100% / 12 * 11);
}
/* size 10 / 12 */
.s-10 {
    --size: calc(100% / 6 * 5);
}
/* size 9 / 12 */
.s-9 {
    --size: 75%;
}
/* size 8 / 12 */
.s-8 {
    --size: calc(100% / 3 * 2);
}
/* size 7 / 12 */
.s-7 {
    --size: calc(100% / 12 * 7);
}
/* size 6 / 12 */
.s-6 {
    --size: 50%;
}
/* size 5 / 12 */
.s-5 {
    --size: calc(100% / 12 * 5);
}
/* size 4 / 12 */
.s-4 {
    --size: calc(100% / 3);
}
/* size 3 / 12 */
.s-3 {
    --size: 25%;
}
/* size 2 / 12 */
.s-2 {
    --size: calc(100% / 6);
}
/* size 1 / 12 */
.s-1 {
    --size: calc(100% / 12);
}
/* size flex */
.s-f {
    flex: 1;
}
/* breaker */
.break,
/* sub-grid */
.sub {
    width: 100%;
}

@media (width < 1280px) {
    /* size 12 / 12 */
    .s-12-x {
        --size: 100%;
    }
    /* size 11 / 12 */
    .s-11-x {
        --size: calc(100% / 12 * 11);
    }
    /* size 10 / 12 */
    .s-10-x {
        --size: calc(100% / 6 * 5);
    }
    /* size 9 / 12 */
    .s-9-x {
        --size: 75%;
    }
    /* size 8 / 12 */
    .s-8-x {
        --size: calc(100% / 3 * 2);
    }
    /* size 7 / 12 */
    .s-7-x {
        --size: calc(100% / 12 * 7);
    }
    /* size 6 / 12 */
    .s-6-x {
        --size: 50%;
    }
    /* size 5 / 12 */
    .s-5-x {
        --size: calc(100% / 12 * 5);
    }
    /* size 4 / 12 */
    .s-4-x {
        --size: calc(100% / 3);
    }
    /* size 3 / 12 */
    .s-3-x {
        --size: 25%;
    }
    /* size 2 / 12 */
    .s-2-x {
        --size: calc(100% / 6);
    }
    /* size 1 / 12 */
    .s-1-x {
        --size: calc(100% / 12);
    }
}

@media (width < 1024px) {
    /* size 12 / 12 */
    .s-12-l {
        --size: 100%;
    }
    /* size 11 / 12 */
    .s-11-l {
        --size: calc(100% / 12 * 11);
    }
    /* size 10 / 12 */
    .s-10-l {
        --size: calc(100% / 6 * 5);
    }
    /* size 9 / 12 */
    .s-9-l {
        --size: 75%;
    }
    /* size 8 / 12 */
    .s-8-l {
        --size: calc(100% / 3 * 2);
    }
    /* size 7 / 12 */
    .s-7-l {
        --size: calc(100% / 12 * 7);
    }
    /* size 6 / 12 */
    .s-6-l {
        --size: 50%;
    }
    /* size 5 / 12 */
    .s-5-l {
        --size: calc(100% / 12 * 5);
    }
    /* size 4 / 12 */
    .s-4-l {
        --size: calc(100% / 3);
    }
    /* size 3 / 12 */
    .s-3-l {
        --size: 25%;
    }
    /* size 2 / 12 */
    .s-2-l {
        --size: calc(100% / 6);
    }
    /* size 1 / 12 */
    .s-1-l {
        --size: calc(100% / 12);
    }
}

@media (width < 768px) {
    /* size 12 / 12 */
    .s-12-m {
        --size: 100%;
    }
    /* size 11 / 12 */
    .s-11-m {
        --size: calc(100% / 12 * 11);
    }
    /* size 10 / 12 */
    .s-10-m {
        --size: calc(100% / 6 * 5);
    }
    /* size 9 / 12 */
    .s-9-m {
        --size: 75%;
    }
    /* size 8 / 12 */
    .s-8-m {
        --size: calc(100% / 3 * 2);
    }
    /* size 7 / 12 */
    .s-7-m {
        --size: calc(100% / 12 * 7);
    }
    /* size 6 / 12 */
    .s-6-m {
        --size: 50%;
    }
    /* size 5 / 12 */
    .s-5-m {
        --size: calc(100% / 12 * 5);
    }
    /* size 4 / 12 */
    .s-4-m {
        --size: calc(100% / 3);
    }
    /* size 3 / 12 */
    .s-3-m {
        --size: 25%;
    }
    /* size 2 / 12 */
    .s-2-m {
        --size: calc(100% / 6);
    }
    /* size 1 / 12 */
    .s-1-m {
        --size: calc(100% / 12);
    }
}

@media (width < 478px) {
    /* size 12 / 12 */
    .s-12-s {
        --size: 100%;
    }
    /* size 11 / 12 */
    .s-11-s {
        --size: calc(100% / 12 * 11);
    }
    /* size 10 / 12 */
    .s-10-s {
        --size: calc(100% / 6 * 5);
    }
    /* size 9 / 12 */
    .s-9-s {
        --size: 75%;
    }
    /* size 8 / 12 */
    .s-8-s {
        --size: calc(100% / 3 * 2);
    }
    /* size 7 / 12 */
    .s-7-s {
        --size: calc(100% / 12 * 7);
    }
    /* size 6 / 12 */
    .s-6-s {
        --size: 50%;
    }
    /* size 5 / 12 */
    .s-5-s {
        --size: calc(100% / 12 * 5);
    }
    /* size 4 / 12 */
    .s-4-s {
        --size: calc(100% / 3);
    }
    /* size 3 / 12 */
    .s-3-s {
        --size: 25%;
    }
    /* size 2 / 12 */
    .s-2-s {
        --size: calc(100% / 6);
    }
    /* size 1 / 12 */
    .s-1-s {
        --size: calc(100% / 12);
    }
}

.gap {
    --grid-gap: var(--grid-cell-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--grid-cell-padding) 0;
    margin-left: calc(-1 * var(--grid-cell-padding));
}

/* -------------------- scrollbar ------------------------------------------------------------
    MARK: Scrollbar
*/

@supports selector(::-webkit-scrollbar) {
    body ::-webkit-scrollbar-button {
        display: none;
    }

    body ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    body ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: var(--scrollbar-color);
    }
    body ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-color-hover);
    }
}

@supports not selector(::-webkit-scrollbar-button) {
    body {
        scrollbar-color: var(--scrollbar-color) transparent;
        scrollbar-width: var(--scrollbar-width);
    }
}

pre.mono {
    font-family: var(--font-mono);
}

/* -------------------- click-enter -------------------------------------------------------
    MARK: Click-enter
*/

.click-enter[tabindex]:not(button, a[href]) {
    outline: 2px solid transparent;
    outline-offset: -1px;

    &:hover {
        cursor: pointer;
        background-color: var(--click-enter-hover-background);
    }

    &:focus {
        outline-color: var(--input-focus-border-color);
    }
}

/* -------------------- walkthrough -------------------------------------------------------
    MARK: Walkthrough
*/

.walkthrough-backdrop {
    background-color: var(--walkthrough-backdrop);
}

/* -------------------- fixes ------------------------------------------------------------
    MARK: Fixes
*/

/* fix chromium */
.cdk-global-scrollblock[class] {
    height: 100%;
    overflow-y: hidden;
}

.cdk-overlay-container {
    z-index: 10000;
}
