<h1>Dialog</h1>

@if (ctrlForm) {
  <section>
    <form class="s-4 s-8-l s-12-s" [formGroup]="ctrlForm">
      <p>
        <mg-input>
          <mg-input-label>closeButton</mg-input-label>
          <mg-input-checkbox formControlName="closeButton" mode="toggle">enabled</mg-input-checkbox>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>closeBackdrop</mg-input-label>
          <mg-input-checkbox formControlName="closeBackdrop" mode="toggle">enabled</mg-input-checkbox>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>title</mg-input-label>
          <mg-input-text formControlName="title" />
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>label (ARIA if no title)</mg-input-label>
          <mg-input-text formControlName="label" />
        </mg-input>
      </p>
    </form>
    <div class="s-4 s-4-l s-12-s">
      <button (click)="dialog.open()">Open dialog</button>

      <mg-dialog
        #dialog
        [closeButton]="ctrlForm.value.closeButton"
        [closeBackdrop]="ctrlForm.value.closeBackdrop"
        [title]="ctrlForm.value.title"
        [label]="ctrlForm.value.label"
      >
        <p>Content dialog</p>
        <p>
          <button (click)="dialog.close()">Close</button>
        </p>
        <p>
          @let l = [0];
          @for (b of l; track $index) {
            <button (click)="l.push(0)">Add</button>
          }
        </p>
      </mg-dialog>
    </div>
    <div class="s-4 s-12-l">
      <code-tabs
        [code]="[
          { type: 'html', code: codeHtml },
          { type: 'ts', code: codeTs },
        ]"
      ></code-tabs>
    </div>
  </section>
}
