<h1>Dialog</h1>

@if (ctrlForm) {
  <section>
    <form [formGroup]="ctrlForm">
      <p>
        <mg-input>
          <mg-input-label>closeButton</mg-input-label>
          <mg-input-checkbox formControlName="closeButton" mode="toggle">enabled</mg-input-checkbox>
        </mg-input>
      </p>
      <p>
        <mg-input>
          <mg-input-label>closeBackdrop</mg-input-label>
          <mg-input-checkbox formControlName="closeBackdrop" mode="toggle">enabled</mg-input-checkbox>
        </mg-input>
      </p>
    </form>
    <div>
      <button (click)="dialog.open()">Open dialog</button>

      <mg-dialog #dialog [closeButton]="ctrlForm.value.closeButton" [closeBackdrop]="ctrlForm.value.closeBackdrop">
        Content dialog
      </mg-dialog>
    </div>
    <div>
      <code-tabs [code]="[{ type: 'html', code: codeHtml }]"></code-tabs>
    </div>
  </section>
}
