<h1>Enum</h1>

<div>
  <div class="s-6">
    <code-tabs [code]="[{ type: 'ts', code: codeTs }]"></code-tabs>
  </div>
  <div class="s-6">
    <h2>enumToValueList(Test)</h2>
    <p>
      <code>
        <pre [highlight]="enumToValueList | json" language="ts"></pre>
      </code>
    </p>
    <h2>enumToKeyList(Test)</h2>
    <p>
      <code>
        <pre [highlight]="enumToKeyList | json" language="ts"></pre>
      </code>
    </p>
    <h2>enumToKeyValue(Test)</h2>
    <p>
      <code>
        <pre [highlight]="enumToKeyValue | json" language="ts"></pre>
      </code>
    </p>
    <h2>enumToObject(Test)</h2>
    <p>
      <code>
        <pre [highlight]="enumToObject | json" language="ts"></pre>
      </code>
    </p>
    <h2>enumToMap(Test)</h2>
    <p>
      <code>
        <pre [highlight]="codeTsMap" language="ts"></pre>
      </code>
    </p>
  </div>
</div>
