<h1>Table</h1>

<table mg>
  <thead mg sticky>
    <tr mg>
      <th mg>Test</th>
      <th mg>Test</th>
      <th mg>Test</th>
      <th mg>Test</th>
      <th mg>Test</th>
    </tr>
  </thead>
  <tbody mg>
    <tr mg>
      <td mg>Test 1</td>
      <td mg>Test 2</td>
      <td mg>Test 3</td>
      <td mg>Test 4</td>
      <td mg>Test 5</td>
    </tr>
    <tr mg baseline>
      <td mg>Test La test<br />dede</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
    <tr mg>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
      <td mg>Test</td>
    </tr>
  </tbody>
</table>
