:host {
    --col: 2;
}

.preview {
    text-align: center;

    span {
        border: 1px solid var(--neutral990);
        background-color: var(--neutral300);
        font-size: 64px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 5px;
}
